<section class="head-bg-bottom">
    <div class="container">
        <h1>trang cá nhân</h1>
    </div>
</section>
<section class="content-bottom page-child page-profile">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="box box-border box-profile">
                    <div class="box-title">
                        Thay đổi thông tin cá nhân
                    </div>
                    <div class="box-content">

                        <form id="profile_form" class="form-horizontal" action="/member" method="post" enctype="multipart/form-data">
                            <div class="box-child">
                                <div class="box-child-title">
                                    Thông tin cá nhân
                                </div>
                                <div class="box-child-content">
                                    <div class="form-group field-profile-name">
                                        <label class="col-sm-3 col-md-2 control-label" for="profile-name">Họ &amp; Tên <span>(*)</span>:</label><div class="col-sm-9 col-md-8"><input type="text" id="profile-name" class="form-control" name="Profile[name]" value="Năm Long" maxlength="255"><div class="help-block"><div class="help-block"></div></div></div>
                                    </div><div class="form-group field-profile-birthday">
                                        <label class="col-sm-3 col-md-2 control-label" for="profile-birthday">Ngày sinh :</label><div class="col-sm-9 col-md-8"><div id="profile-birthday-kvdate" class="input-group date"><span class="input-group-addon kv-date-calendar" title="Select date"><i class="glyphicon glyphicon-calendar"></i></span><span class="input-group-addon kv-date-remove" title="Clear field"><i class="glyphicon glyphicon-remove"></i></span><input type="text" id="profile-birthday" class="krajee-datepicker form-control" name="Profile[birthday]" value="01/05/1986" data-datepicker-source="profile-birthday-kvdate" data-datepicker-type="2" data-krajee-kvDatepicker="kvDatepicker_afe764fc"></div><div class="help-block"><div class="help-block"></div></div></div>
                                    </div><div class="form-group field-profile-gender">
                                        <label class="col-sm-3 col-md-2 control-label" for="profile-gender">Giới tính :</label><div class="col-sm-9 col-md-8">
                                            <input type="hidden" name="Profile[gender]" value=""><div id="profile-gender">
                                                <label class="radio-inline"><input type="radio" name="Profile[gender]" value="1" checked>Nam</label>
                                                <label class="radio-inline"><input type="radio" name="Profile[gender]" value="0">Nữ</label>
                                            </div><div class="help-block"><div class="help-block"></div></div>
                                        </div>
                                    </div>									<div class="form-group">
                                        <label class="control-label col-sm-3 col-md-2" for="event-alias">Địa chỉ</label>
                                        <div class="col-sm-9 col-md-8">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class=" field-profile-province_id">

                                                        <select id="profile-province_id" class="form-control" name="Profile[province_id]" data-value="79">
                                                            <option value="">Tỉnh/Thành phố</option>

                                                        </select>

                                                        <div class="help-block"></div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-4">
                                                    <div class=" field-profile-district_id">

                                                        <select id="profile-district_id" class="form-control" name="Profile[district_id]" data-value="774"></select>

                                                        <div class="help-block"></div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class=" field-profile-ward_id">

                                                        <select id="profile-ward_id" class="form-control" name="Profile[ward_id]" data-value="27319">
                                                            <option value="">Phường/Xã</option>
                                                        </select>

                                                        <div class="help-block"></div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group field-profile-address">
                                        <label class="col-sm-3 col-md-2 control-label" for="profile-address">Khu vực sinh sống :</label><div class="col-sm-9 col-md-8"><input type="text" id="profile-address" class="form-control" name="Profile[address]" value="" maxlength="255"><div class="help-block"><div class="help-block"></div></div></div>
                                    </div>
                                </div>
                            </div>

                            <div class="box-child">
                                <div class="box-child-title">
                                    Thông tin liên hệ
                                </div>
                                <div class="box-child-content">
                                    <div class="form-group field-profile-phone">
                                        <label class="col-sm-3 col-md-2 control-label" for="profile-phone">Địên thoại <span>(*)</span>:</label><div class="col-sm-9 col-md-8"><input type="text" id="profile-phone" class="form-control" name="Profile[phone]" value="0973117155" maxlength="20"><div class="help-block"><div class="help-block"></div></div></div>
                                    </div>
                                    <div class="form-group field-profile-skype">
                                        <label class="col-sm-3 col-md-2 control-label" for="profile-skype">Skype :</label><div class="col-sm-9 col-md-8"><input type="text" id="profile-skype" class="form-control" name="Profile[skype]" value="" maxlength="50"><div class="help-block"><div class="help-block"></div></div></div>
                                    </div>
                                    <div class="form-group field-profile-imagefile">
                                        <label class="col-sm-3 col-md-2 control-label" for="profile-imagefile">Hình đại diện (255 x 145)</label><div class="col-sm-9 col-md-8">
                                            <input type="hidden" name="Profile[imageFile]" value=""><input type="file" id="profile-imagefile" class="file-loading" name="Profile[imageFile]" accept="image/*" data-krajee-fileinput="fileinput_dc219927">
                                            <div class="help-block"><div class="help-block"></div></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-md-offset-2 col-sm-9 col-md-8">
                                    <button type="submit" class="btn btn-default btn-special">Lưu</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box box-border box-profile box-profile-sidebar">
                    <div class="box-title">
                        Trang cá nhân
                    </div>
                    <div class="box-content">
                        <div class="text-center profile-info">
                            <img src="http://sunlandsg.vn/themes/frontend/images/avatar.jpg" class="avatar img-responsive img-circle" />
                            <label class="member-name">Năm Long</label>

                        </div>

                        <div class="box-child">
                            <div class="box-child-title">
                                Quản lý thông tin cá nhân
                            </div>
                            <div class="box-child-content">
                                <ul>
                                    <li><a href="/member">Thay đổi thông tin cá nhân</a></li>
                                    <li><a href="/member/changepass">Thay đổi mật khẩu</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="box-child">
                            <div class="box-child-title">
                                Quản lý tin rao
                            </div>
                            <div class="box-child-content">
                                <ul>
                                    <li><a href="@Url.Action("RealIndex", "User")">Quản lí tin đăng</a></li>
                                    <li><a href="@Url.Action("RealAdd", "User")">Đăng tin mới</a></li>
                                    <li><a href="/member/real-contact">Liên hệ người đăng tin</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>