@using PROJECTBDS.ViewModels
@model PROJECTBDS.ViewModels.RealViewModel
@Html.Partial("_HeaderPage", "Trang cá nhân")
<section class="content-bottom page-child page-profile">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                @using (Html.BeginForm("RealAdd", "User", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal form-post-real" }))
                {
                    @Html.Partial("_FormReal", Model)
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn btn-success">Thêm mới</button>
                            </div>
                        </div>
                    </div>
                }
                
            </div>
            <div class="col-md-3">
                @Html.Partial("_UserPartial", ViewBag.User as UserProfileViewModel)
            </div>
        </div>
    </div>
</section>

@{
    string domain = Request.Url.Scheme + System.Uri.SchemeDelimiter + Request.Url.Host + (Request.Url.IsDefaultPort ? "" : ":" + Request.Url.Port);
}
@section scripts{
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Content/ckeditor/ckeditor.js"></script>
    <script>
        CKEDITOR.replace("Content");
        function getChildren(provinceId, target, controller, valueDefault) {
            var textValue = "<option value=''>" + valueDefault + "</option>";
            $(target).html(textValue);
            var defaultValue = $(target).data("value");
            if (provinceId !== "") {
                $(target).html("<option value=''>Loading...</option>").prop('disabled', true);
                $.ajax({
                    'url': "@domain/Admin/api/" + controller,
                    'type': "post",
                    'data': { 'ProvinceId': provinceId },
                    success: function (data) {
                        $(target).html(textValue);
                        $.each(data, function (index, val) {
                            $(target).append("<option value='" + val.Id + "' " + (defaultValue === val.Id ? "selected" : "") + ">" + val.Name + "</option>");
                        });
                    },
                    error: function (msg) {
                        $(target).html(textValue);
                    },
                    complete: function () {
                        $(target).prop("disabled", false);
                    }
                });
            }
        }
        jQuery(document).ready(function ($) {
            $("#DistrictId").html("<option value=''></option>");

            $("#ProvinceId").change(function (event) {
                getChildren($(this).val(), "#DistrictId", "Land", "Quận/Huyện");
            });

            if ($("#ProvinceId").val() !== "") {
                getChildren($(this).val(), "#DistrictId", "Land", "Quận/Huyện");
            }
        });
    </script>
}

@section css{
    <style>
        textarea {
            height: 280px;
            border: 2px solid green;
            box-sizing: boder-box;
            -webkit-box-sizing: border-box;
            -ms-box-sizing: border-box;
            -moz-box-sizing: border-box;
            font-size: 11px;
        }

        input.input-validation-error {
            border-color: #a94442;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        }

        .validation-summary-errors {
            list-style-position: inside;
            list-style-type: none;
            color: red;
            padding-bottom: 30px;
        }

            .validation-summary-errors ul {
                padding-left: 0;
            }

        .field-validation-error {
            color: #a94442;
        }
    </style>
}