
<div class="slider col-lg-8 col-md-8 col-sm-6 col-xs-12">
    <!-- slider-->
    <!---------- Slide Show---------->
    <div id="slider-demo" class="owl-carousel owl-theme" style="border: 2px solid rgb(255, 255, 255); overflow: hidden; opacity: 1; display: block;">
        <div class="owl-wrapper-outer">
            <div class="owl-wrapper" style="width: 7250px; left: 0px; display: block; transition: all 400ms ease; transform: translate3d(-1450px, 0px, 0px);">
                <div class="owl-item" style="width: 725px;">
                    <div class="item">
                        <a href="/du-an/thevenica" target="_blank">
                            <img src="/Content/assets/img/venica_5715b01dccd9e.jpg" alt="The Venica Villa - Siêu dự án Quận 9">
                        </a>
                    </div>
                </div><div class="owl-item" style="width: 725px;">
                    <div class="item">
                        <a href="/du-an/lucasta/thanh-toan" target="_blank">
                            <img src="/Content/assets/img/LUCASTA-BANNER-HOME_57e4e8c8ac055.jpg" alt="Lucasta-thanh toán 1% tháng">
                        </a>
                    </div>
                </div><div class="owl-item" style="width: 725px;">
                    <div class="item">
                        <a href="/du-an/melosagarden/gioi-thieu">
                            <img src="/Content/assets/img/banner-melosa-sunland_5799b15770f9a.jpg" alt="Melosa Garden -  Ưu đãi lớn từ Khang điền">
                        </a>
                    </div>
                </div><div class="owl-item" style="width: 725px;">
                    <div class="item">
                        <a href="/du-an/vincity/gioi-thieu-du-an" target="_blank">
                            <img src="/Content/assets/img/VINCITY_585a4faddf53c.jpg" alt="VinCity">
                        </a>
                    </div>
                </div><div class="owl-item" style="width: 725px;">
                    <div class="item">
                        <a href="/du-an/can-ho-jamila/gioi-thieu" target="_blank">
                            <img src="/Content/assets/img/jamila-banner1_58f862499f56b.gif" alt="MỞ BÁN CHÍNH THỨC CĂN HỘ JAMILA KHANG ĐIỀN QUẬN 9">
                        </a>
                    </div>
                </div>
            </div>
        </div>




        <div class="owl-controls clickable"><div class="owl-pagination"><div class="owl-page"><span class=""></span></div><div class="owl-page"><span class=""></span></div><div class="owl-page active"><span class=""></span></div><div class="owl-page"><span class=""></span></div><div class="owl-page"><span class=""></span></div></div><div class="owl-buttons"><div class="owl-prev">prev</div><div class="owl-next">next</div></div></div>
    </div>
    <!-- end slider-->
</div>