<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
    <div class="event-box">
        <div class="event-r">
            <div class="title-news">
                <h2><a href="/su-kien">Sự kiện sắp diễn ra</a><a></a></h2><a>
                    <span></span>
                </a>
            </div><a>
            </a><div class="content-event padding-right-event">
                <a>
                    <ul></ul>
                </a><div class="details-button">
                    <a>
                    </a><a href="/su-kien"> Xem thêm <img src="/Content/assets/img/detail-button.jpg"></a>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("_Partial_Subscribe")
</div>