@{
    ViewBag.Title = "Danh sách dự án.";
}

<section class="head-bg-bottom">
    <div class="container">
        <h2>Dự án bất động sản</h2>
    </div>
</section>
<section class="content-bottom">
    <div class="container">
        <div class="row">
            <div class="news-list col-md-9">
                <div class="title-news">
                    <h2 class="title-hot">Dự án mới nhất</h2>
                    <span class="span-hot"></span>
                </div>
                <div class="clearfix"></div>
                <div class="list-project">
                    <div class="row">
                        <div class="box-list-po col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div class="box-item">
                                <div class="border-list">
                                    <a href="/du-an/new-city-quan-2"><img class="img-responsive" src="/images?path=image%2Fproject%2Fthumb%2Fnew-city-quan-2_596478eaab182.jpg&amp;w=735&amp;h=432&amp;fit=crop"></a>
                                    <a href="/du-an/new-city-quan-2"><p>New City quận 2</p></a>
                                    <span>Dự án New City toạ lạc tại khu đô thị Thủ Thiêm. Nơi được quy hoạch là trung tâm tài chính – hành chính...</span>
                                    <div class="address2">
                                        <img src="http://sunlandsg.vn/themes/frontend/images/icon-address-2.jpg">
                                        <span>Quận 2 - Hồ Chí Minh</span>
                                    </div>
                                    <div class="bottom-dn">
                                        <span>Giá bán</span><label><b>LH: 0938 779 660</b></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-list-po col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div class="box-item">
                                <div class="border-list">
                                    <a href="/du-an/masteri-an-phu"><img class="img-responsive" src="/images?path=image%2Fproject%2Fthumb%2Fcan-ho-masteri-an-phu-quan_5948dbcad0007.jpg&amp;w=735&amp;h=432&amp;fit=crop"></a>
                                    <a href="/du-an/masteri-an-phu"><p>Masteri An Phú</p></a>
                                    <span>Masteri An Phú tọa lạc tại mặt tiền Xa lộ Hà Nội với thiết kế chuẩn resort với42 tầng 6 tháng máy, 14...</span>
                                    <div class="address2">
                                        <img src="http://sunlandsg.vn/themes/frontend/images/icon-address-2.jpg">
                                        <span>Quận 2 - Hồ Chí Minh</span>
                                    </div>
                                    <div class="bottom-dn">
                                        <span>Giá bán</span><label><b>LH: 0938 779 660</b></label>
                                    </div>
                                </div>
                            </div>
                        </div><span class="clearfix visible-sm"></span>
                        <div class="box-list-po col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div class="box-item">
                                <div class="border-list">
                                    <a href="/du-an/rosita-garden-khang-dien"><img class="img-responsive" src="/images?path=image%2Fproject%2Fthumb%2FAVATA-ROSITA_596dcb8024782.jpg&amp;w=735&amp;h=432&amp;fit=crop"></a>
                                    <a href="/du-an/rosita-garden-khang-dien"><p>Rosita Garden</p></a>
                                    <span>Dự án Rosita Garden toa lạc tại đường 990 thuộc P. Phú Hữu, Q.9. Rosita Garden có diện tích 3,15ha với 105 căn nhà...</span>
                                    <div class="address2">
                                        <img src="http://sunlandsg.vn/themes/frontend/images/icon-address-2.jpg">
                                        <span>Quận 9 - Hồ Chí Minh</span>
                                    </div>
                                    <div class="bottom-dn">
                                        <span>Giá bán</span><label><b>3.2 tỷ</b></label>
                                    </div>
                                </div>
                            </div>
                        </div><span class="clearfix visible-md visible-lg"></span>
                        <div class="box-list-po col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div class="box-item">
                                <div class="border-list">
                                    <a href="/du-an/homyland-riverside"><img class="img-responsive" src="/images?path=image%2Fproject%2Fthumb%2Fhomyland-riverside_59376dad904fd.jpg&amp;w=735&amp;h=432&amp;fit=crop"></a>
                                    <a href="/du-an/homyland-riverside"><p>Homyland Riverside</p></a>
                                    <span>Homyland Riverside nằm giữa trung tâm dân cư quận 2, đucợ bao quanh bởi môi trường không gian xanh đầy thơ mộng.</span>
                                    <div class="address2">
                                        <img src="http://sunlandsg.vn/themes/frontend/images/icon-address-2.jpg">
                                        <span>Quận 2 - Hồ Chí Minh</span>
                                    </div>
                                    <div class="bottom-dn">
                                        <span>Giá bán</span><label><b>26 triệu/m2</b></label>
                                    </div>
                                </div>
                            </div>
                        </div><span class="clearfix visible-sm"></span>
                        <div class="box-list-po col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div class="box-item">
                                <div class="border-list">
                                    <a href="/du-an/park-riverside"><img class="img-responsive" src="/images?path=image%2Fproject%2Fthumb%2Fphoi-canh-du-an-park-riverside_58dc7f0abaddf.jpg&amp;w=735&amp;h=432&amp;fit=crop"></a>
                                    <a href="/du-an/park-riverside"><p>Dự án Park Riverside</p></a>
                                    <span>Park Riverside là khu compound nhà phố, biệt thự. Tọa lạc tại đường Bưng Ông Thoàn, P. Phú Hữu, quận 9. Dự án...</span>
                                    <div class="address2">
                                        <img src="http://sunlandsg.vn/themes/frontend/images/icon-address-2.jpg">
                                        <span>Quận 9 - Hồ Chí Minh</span>
                                    </div>
                                    <div class="bottom-dn">
                                        <span>Giá bán</span><label><b>3.3 tỷ</b></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-list-po col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div class="box-item">
                                <div class="border-list">
                                    <a href="/du-an/can-ho-jamila"><img class="img-responsive" src="/images?path=image%2Fproject%2Fthumb%2Fcan-ho-jamila-khang-dien_%283%29_58fd729c29f22.jpg&amp;w=735&amp;h=432&amp;fit=crop"></a>
                                    <a href="/du-an/can-ho-jamila"><p>CĂN HỘ JAMILA</p></a>
                                    <span>Căn hộ Jamila Khang Điền mặt tiền Song Hành, tiếp giáp Quận 2. Kế cận khu biệt thự cao cấp The Venica. CĐT Khang...</span>
                                    <div class="address2">
                                        <img src="http://sunlandsg.vn/themes/frontend/images/icon-address-2.jpg">
                                        <span>Quận 9 - Hồ Chí Minh</span>
                                    </div>
                                    <div class="bottom-dn">
                                        <span>Giá bán</span><label><b>24 triệu/m2</b></label>
                                    </div>
                                </div>
                            </div>
                        </div><span class="clearfix visible-sm"></span><span class="clearfix visible-md visible-lg"></span>
                        <div class="box-list-po col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div class="box-item">
                                <div class="border-list">
                                    <a href="/du-an/valencia-riverside"><img class="img-responsive" src="/images?path=image%2Fproject%2Fthumb%2FPHOI-CANH-VALENCIA-RIVERSIDE_587305123c10d.jpg&amp;w=735&amp;h=432&amp;fit=crop"></a>
                                    <a href="/du-an/valencia-riverside"><p>Valencia Riverside</p></a>
                                    <span>Valencia Riverside là dự án nhà phố cao cấp đầu tiên tọa lạc ngay khu công nghệ cao quận 9. Dự án gồm 168 dinh...</span>
                                    <div class="address2">
                                        <img src="http://sunlandsg.vn/themes/frontend/images/icon-address-2.jpg">
                                        <span>Quận 9 - Hồ Chí Minh</span>
                                    </div>
                                    <div class="bottom-dn">
                                        <span>Giá bán</span><label><b>2.7 tỷ</b></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-list-po col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div class="box-item">
                                <div class="border-list">
                                    <a href="/du-an/river-park-quan-9"><img class="img-responsive" src="/images?path=image%2Fproject%2Fthumb%2Favatar-river-park_583bdba98f321.jpg&amp;w=735&amp;h=432&amp;fit=crop"></a>
                                    <a href="/du-an/river-park-quan-9"><p>River Park Quận 9</p></a>
                                    <span>Dự án River Park quận 9 được tập đoàn MIK Group phát triển với mô hình nhà phố và shop house thương mại tọa...</span>
                                    <div class="address2">
                                        <img src="http://sunlandsg.vn/themes/frontend/images/icon-address-2.jpg">
                                        <span>Quận 9 - Hồ Chí Minh</span>
                                    </div>
                                    <div class="bottom-dn">
                                        <span>Giá bán</span><label><b>2,7 tỷ</b></label>
                                    </div>
                                </div>
                            </div>
                        </div><span class="clearfix visible-sm"></span>
                        <div class="box-list-po col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div class="box-item">
                                <div class="border-list">
                                    <a href="/du-an/lucasta"><img class="img-responsive" src="/images?path=image%2Fproject%2Fthumb%2FBiet-thu-sinh-thai-Lucasta_578da50e55659.jpg&amp;w=735&amp;h=432&amp;fit=crop"></a>
                                    <a href="/du-an/lucasta"><p>Dự án Lucasta Villa</p></a>
                                    <span>Biệt thự sinh thái Lucasta tọa lạc tại Quận 9, trên mặt tiền Liên Phường, Lucasta tiếp giáp với chốt giao Long...</span>
                                    <div class="address2">
                                        <img src="http://sunlandsg.vn/themes/frontend/images/icon-address-2.jpg">
                                        <span>Quận 9 - Hồ Chí Minh</span>
                                    </div>
                                    <div class="bottom-dn">
                                        <span>Giá bán</span><label><b>từ 7 tỷ ( đã VAT)</b></label>
                                    </div>
                                </div>
                            </div>
                        </div><span class="clearfix visible-md visible-lg"></span>
                        <div class="box-list-po col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div class="box-item">
                                <div class="border-list">
                                    <a href="/du-an/melosa"><img class="img-responsive" src="/images?path=image%2Fproject%2Fthumb%2Favatar-melosa_578da2eca4508.jpg&amp;w=735&amp;h=432&amp;fit=crop"></a>
                                    <a href="/du-an/melosa"><p>Melosa Garden</p></a>
                                    <span>Dự án Melosa Garden Quận 9 tọa lạc tại đường Vành Đai Trong. Nơi đây hội tụ đủ những yếu tố để trở...</span>
                                    <div class="address2">
                                        <img src="http://sunlandsg.vn/themes/frontend/images/icon-address-2.jpg">
                                        <span>Quận 9 - Hồ Chí Minh</span>
                                    </div>
                                    <div class="bottom-dn">
                                        <span>Giá bán</span><label><b>15,8tr/m2</b></label>
                                    </div>
                                </div>
                            </div>
                        </div><span class="clearfix visible-sm"></span>
                        <div class="box-list-po col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div class="box-item">
                                <div class="border-list">
                                    <a href="/du-an/thap-muoi-merita"><img class="img-responsive" src="/images?path=image%2Fproject%2Fthumb%2Fthap-muoi-merita_%2815%29_582a7b0fe614f.jpg&amp;w=735&amp;h=432&amp;fit=crop"></a>
                                    <a href="/du-an/thap-muoi-merita"><p>Tháp Mười Merita Khang Điền</p></a>
                                    <span>Tháp Mười Merita tọa lạc ngay trung tâm của quận 9, dự án sở hữu mặt tiền đường Liên Phường kết nối...</span>
                                    <div class="address2">
                                        <img src="http://sunlandsg.vn/themes/frontend/images/icon-address-2.jpg">
                                        <span>Quận 9 - Hồ Chí Minh</span>
                                    </div>
                                    <div class="bottom-dn">
                                        <span>Giá bán</span><label><b>3,3 tỷ</b></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-list-po col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div class="box-item">
                                <div class="border-list">
                                    <a href="/du-an/vincity"><img class="img-responsive" src="/images?path=image%2Fproject%2Fthumb%2FVINCITY-CAN-HO-GIA-RE-QUAN-9_58574771297dc.jpg&amp;w=735&amp;h=432&amp;fit=crop"></a>
                                    <a href="/du-an/vincity"><p>Vincity</p></a>
                                    <span>VinGroup đã ra mắt dòng sản phẩm nhà ở đại chúng - với thương hiệu VinCity có mức giá chỉ từ 700 triệu...</span>
                                    <div class="address2">
                                        <img src="http://sunlandsg.vn/themes/frontend/images/icon-address-2.jpg">
                                        <span>Quận 9 - Hồ Chí Minh</span>
                                    </div>
                                    <div class="bottom-dn">
                                        <span>Giá bán</span><label><b>700 triệu/căn</b></label>
                                    </div>
                                </div>
                            </div>
                        </div><span class="clearfix visible-sm"></span><span class="clearfix visible-md visible-lg"></span>
                        <div class="box-list-po col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div class="box-item">
                                <div class="border-list">
                                    <a href="/du-an/can-ho-sun-tower"><img class="img-responsive" src="/images?path=image%2Fproject%2Fthumb%2Fsun-tower-can-ho-quan-9_580d766b0a718.jpg&amp;w=735&amp;h=432&amp;fit=crop"></a>
                                    <a href="/du-an/can-ho-sun-tower"><p>Căn Hộ SunTower</p></a>
                                    <span>Căn hộ Sun Tower (SKy 9) quận 9 thiết kế chuẩn Hàn Quốc tiếp giáp quận 2 ✓ Diện tích đa dạng 46m2 - 108m2 ✓ LH...</span>
                                    <div class="address2">
                                        <img src="http://sunlandsg.vn/themes/frontend/images/icon-address-2.jpg">
                                        <span>Quận 9 - Hồ Chí Minh</span>
                                    </div>
                                    <div class="bottom-dn">
                                        <span>Giá bán</span><label><b>989tr</b></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-list-po col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div class="box-item">
                                <div class="border-list">
                                    <a href="/du-an/palm-city"><img class="img-responsive" src="/images?path=image%2Fproject%2Fthumb%2Fpalm-city_57c557635b0ef.gif&amp;w=735&amp;h=432&amp;fit=crop"></a>
                                    <a href="/du-an/palm-city"><p>Dự án Palm City</p></a>
                                    <span>Palm City là khu đô thị mới rộng 30.2ha trải dài 2.7km dọc bờ sống Giồng Ông Tố và Mương Kinh, Quận 2. Dự án...</span>
                                    <div class="address2">
                                        <img src="http://sunlandsg.vn/themes/frontend/images/icon-address-2.jpg">
                                        <span>Quận 2 - Hồ Chí Minh</span>
                                    </div>
                                    <div class="bottom-dn">
                                        <span>Giá bán</span><label><b>Liên hệ: 0938 779 660</b></label>
                                    </div>
                                </div>
                            </div>
                        </div><span class="clearfix visible-sm"></span>
                        <div class="box-list-po col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div class="box-item">
                                <div class="border-list">
                                    <a href="/du-an/palm-heights"><img class="img-responsive" src="/images?path=image%2Fproject%2Fthumb%2Fpalm-heights-quan2-avatar_57cfbf595a9d3.gif&amp;w=735&amp;h=432&amp;fit=crop"></a>
                                    <a href="/du-an/palm-heights"><p>PALM HEIGHTS</p></a>
                                    <span>CĂN HỘ PALM HEIGHTS QUẬN 2– KHU ĐÔ THỊ PALM CITY– NAM RẠCH CHIẾC - Giá bán căn hộ giao thô dự kiến từ 1.300...</span>
                                    <div class="address2">
                                        <img src="http://sunlandsg.vn/themes/frontend/images/icon-address-2.jpg">
                                        <span>Quận 2 - Hồ Chí Minh</span>
                                    </div>
                                    <div class="bottom-dn">
                                        <span>Giá bán</span><label><b>1300USD/m2</b></label>
                                    </div>
                                </div>
                            </div>
                        </div><span class="clearfix visible-md visible-lg"></span>
                    </div>
                    <div class="text-ul">
                        <ul class="pagination">
                            <li class="prev disabled"><span>«</span></li>
                            <li class="active"><a href="/frontend/projects/index?page=1&amp;per-page=15" data-page="0">1</a></li>
                            <li><a href="/frontend/projects/index?page=2&amp;per-page=15" data-page="1">2</a></li>
                            <li><a href="/frontend/projects/index?page=3&amp;per-page=15" data-page="2">3</a></li>
                            <li><a href="/frontend/projects/index?page=4&amp;per-page=15" data-page="3">4</a></li>
                            <li class="next"><a href="/frontend/projects/index?page=2&amp;per-page=15" data-page="1">»</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="event-box col-md-3">
                <div class="search-bds">
                    <div class="title-sr">
                        <img src="http://sunlandsg.vn/themes/frontend/images/search-icon.png" alt="">
                        Tìm kiếm Dự Án
                    </div>
                    <div class="bg-search">
                        <form id="realSearchForm" role="form" action="/frontend/projects/search" method="get">
                            <input type="text" name="s" id="s" placeholder="Nhập tên dự án hoặc vị trí" value="">

                            <select name="province" id="province">
                                <option value="">Tỉnh/Thành phố</option>
                                <option value="79">Hồ Chí Minh</option>
                                <option value="1">Hà Nội</option>
                                <option value="48">Đà Nẵng</option>
                                <option value="2">Hà Giang</option>
                                <option value="4">Cao Bằng</option>
                                <option value="6">Bắc Kạn</option>
                                <option value="8">Tuyên Quang</option>
                                <option value="10">Lào Cai</option>
                                <option value="11">Điện Biên</option>
                                <option value="12">Lai Châu</option>
                                <option value="14">Sơn La</option>
                                <option value="15">Yên Bái</option>
                                <option value="17">Hòa Bình</option>
                                <option value="19">Thái Nguyên</option>
                                <option value="20">Lạng Sơn</option>
                                <option value="22">Quảng Ninh</option>
                                <option value="24">Bắc Giang</option>
                                <option value="25">Phú Thọ</option>
                                <option value="26">Vĩnh Phúc</option>
                                <option value="27">Bắc Ninh</option>
                                <option value="30">Hải Dương</option>
                                <option value="31">Hải Phòng</option>
                                <option value="33">Hưng Yên</option>
                                <option value="34">Thái Bình</option>
                                <option value="35">Hà Nam</option>
                                <option value="36">Nam Định</option>
                                <option value="37">Ninh Bình</option>
                                <option value="38">Thanh Hóa</option>
                                <option value="40">Nghệ An</option>
                                <option value="42">Hà Tĩnh</option>
                                <option value="44">Quảng Bình</option>
                                <option value="45">Quảng Trị</option>
                                <option value="46">Thừa Thiên Huế</option>
                                <option value="49">Quảng Nam</option>
                                <option value="51">Quảng Ngãi</option>
                                <option value="52">Bình Định</option>
                                <option value="54">Phú Yên</option>
                                <option value="56">Khánh Hòa</option>
                                <option value="58">Ninh Thuận</option>
                                <option value="60">Bình Thuận</option>
                                <option value="62">Kon Tum</option>
                                <option value="64">Gia Lai</option>
                                <option value="66">Đắk Lắk</option>
                                <option value="67">Đắk Nông</option>
                                <option value="68">Lâm Đồng</option>
                                <option value="70">Bình Phước</option>
                                <option value="72">Tây Ninh</option>
                                <option value="74">Bình Dương</option>
                                <option value="75">Đồng Nai</option>
                                <option value="77">Bà Rịa - Vũng Tàu</option>
                                <option value="80">Long An</option>
                                <option value="82">Tiền Giang</option>
                                <option value="83">Bến Tre</option>
                                <option value="84">Trà Vinh</option>
                                <option value="86">Vĩnh Long</option>
                                <option value="87">Đồng Tháp</option>
                                <option value="89">An Giang</option>
                                <option value="91">Kiên Giang</option>
                                <option value="92">Cần Thơ</option>
                                <option value="93">Hậu Giang</option>
                                <option value="94">Sóc Trăng</option>
                                <option value="95">Bạc Liêu</option>
                                <option value="96">Cà Mau</option>
                            </select>

                            <select name="district" id="district" data-value="">
                                <option value="">Quận/Huyện</option>
                            </select>

                            <select name="type">
                                <option value="">Loại dự án</option>
                                <option value="1">Nhà</option>
                                <option value="2">Đất</option>
                                <option value="3">Chung cư</option>
                            </select>

                            <button type="submit">Tìm kiếm</button>
                        </form>
                    </div>
                </div>
                <div class="event-r" style="margin-bottom:0">
                    <div class="title-news">
                        <h2>Dự án nổi bật</h2>
                        <span></span>
                    </div>
                    <div class="content-event content-project">
                        <div>
                            <div class="item">
                                <a class="post-title" href="/du-an/can-ho-jamila"><h6>CĂN HỘ JAMILA</h6></a>
                                <div class="post-info">
                                    <a class="post-thumb" href="/du-an/can-ho-jamila"><img class="img-responsive" title="CĂN HỘ JAMILA" alt="CĂN HỘ JAMILA" src="/images?path=image%2Fproject%2Fthumb%2Fcan-ho-jamila-khang-dien_%283%29_58fd729c29f22.jpg&amp;w=80&amp;h=60&amp;fit=crop"></a>
                                    <div class="list-hot">
                                        <p>
                                            <span class="address-font glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                                            Quận 9 - Hồ Chí Minh
                                        </p>
                                        <p>
                                            <span class="icon-tien-list"></span>
                                            Giá bán<br>
                                            <b>24 triệu/m2</b>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <a class="post-title" href="/du-an/thap-muoi-merita"><h6>Tháp Mười Merita Khang Điền</h6></a>
                                <div class="post-info">
                                    <a class="post-thumb" href="/du-an/thap-muoi-merita"><img class="img-responsive" title="Tháp Mười Merita Khang Điền" alt="Tháp Mười Merita Khang Điền" src="/images?path=image%2Fproject%2Fthumb%2Fthap-muoi-merita_%2815%29_582a7b0fe614f.jpg&amp;w=80&amp;h=60&amp;fit=crop"></a>
                                    <div class="list-hot">
                                        <p>
                                            <span class="address-font glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                                            Quận 9 - Hồ Chí Minh
                                        </p>
                                        <p>
                                            <span class="icon-tien-list"></span>
                                            Giá bán<br>
                                            <b>3,3 tỷ</b>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <a class="post-title" href="/du-an/rosita-garden-khang-dien"><h6>Rosita Garden</h6></a>
                                <div class="post-info">
                                    <a class="post-thumb" href="/du-an/rosita-garden-khang-dien"><img class="img-responsive" title="Rosita Garden" alt="Rosita Garden" src="/images?path=image%2Fproject%2Fthumb%2FAVATA-ROSITA_596dcb8024782.jpg&amp;w=80&amp;h=60&amp;fit=crop"></a>
                                    <div class="list-hot">
                                        <p>
                                            <span class="address-font glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                                            Quận 9 - Hồ Chí Minh
                                        </p>
                                        <p>
                                            <span class="icon-tien-list"></span>
                                            Giá bán<br>
                                            <b>3.2 tỷ</b>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <a class="post-title" href="/du-an/lucasta"><h6>Dự án Lucasta Villa</h6></a>
                                <div class="post-info">
                                    <a class="post-thumb" href="/du-an/lucasta"><img class="img-responsive" title="Dự án Lucasta Villa" alt="Dự án Lucasta Villa" src="/images?path=image%2Fproject%2Fthumb%2FBiet-thu-sinh-thai-Lucasta_578da50e55659.jpg&amp;w=80&amp;h=60&amp;fit=crop"></a>
                                    <div class="list-hot">
                                        <p>
                                            <span class="address-font glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                                            Quận 9 - Hồ Chí Minh
                                        </p>
                                        <p>
                                            <span class="icon-tien-list"></span>
                                            Giá bán<br>
                                            <b>từ 7 tỷ ( đã VAT)</b>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <a class="post-title" href="/du-an/park-riverside"><h6>Dự án Park Riverside</h6></a>
                                <div class="post-info">
                                    <a class="post-thumb" href="/du-an/park-riverside"><img class="img-responsive" title="Dự án Park Riverside" alt="Dự án Park Riverside" src="/images?path=image%2Fproject%2Fthumb%2Fphoi-canh-du-an-park-riverside_58dc7f0abaddf.jpg&amp;w=80&amp;h=60&amp;fit=crop"></a>
                                    <div class="list-hot">
                                        <p>
                                            <span class="address-font glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                                            Quận 9 - Hồ Chí Minh
                                        </p>
                                        <p>
                                            <span class="icon-tien-list"></span>
                                            Giá bán<br>
                                            <b>3.3 tỷ</b>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="event-r">
                    <div class="title-news">
                        <h2><a href="/tim-kiem-su-kien?timetype=1">Sự kiện sắp diễn ra</a><a></a></h2><a>
                            <span></span>
                        </a>
                    </div><a>
                    </a><div class="content-event padding-right-event">
                        <a>
                            <ul></ul>
                        </a><div class="details-button">
                            <a>
                            </a><a href="/tim-kiem-su-kien?timetype=1"> Xem thêm <img src="http://sunlandsg.vn/themes/frontend/images/detail-button.jpg"></a>
                        </div>
                    </div>
                </div>


                <div class="ads-r">
                    <h4>Đăng ký<br> nhận tin bất động sản</h4>

                    <div class="box-input">
                        <form id="realRegForm" action="/frontend/ajax/save-contact" method="post">
                            <input type="hidden" name="_csrf" value="c2Z0d1VZakErVTUYLxo6LhUoMUAaEl8YOSsGLxYYLhk0NgY/ZBAwOw=="><div class="form-group field-frontcontact-name required">
                                <input type="text" id="frontcontact-name" class="form-control" name="FrontContact[name]" placeholder="Họ và tên"><span class="help-block"><div class="help-block"></div></span>
                            </div><div class="form-group field-frontcontact-phone required">
                                <input type="text" id="frontcontact-phone" class="form-control" name="FrontContact[phone]" placeholder="Số điện thoại"><span class="help-block"><div class="help-block"></div></span>
                            </div><div class="form-group field-frontcontact-email required">
                                <input type="text" id="frontcontact-email" class="form-control" name="FrontContact[email]" placeholder="Email"><span class="help-block"><div class="help-block"></div></span>
                            </div><div class="form-group field-frontcontact-type">

                                <input type="hidden" id="frontcontact-type" class="form-control" name="FrontContact[type]" value="5">

                                <div class="help-block"></div>
                            </div><div class="form-group field-frontcontact-object_id">

                                <input type="hidden" id="frontcontact-object_id" class="form-control" name="FrontContact[object_id]">

                                <div class="help-block"></div>
                            </div><div class="form-group field-frontcontact-item_name">

                                <input type="hidden" id="frontcontact-item_name" class="form-control" name="FrontContact[item_name]">

                                <div class="help-block"></div>
                            </div>    	<div class="form-group">
                                <button type="submit" class="">Đăng ký</button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="ads-banner">
                    <div class="item">
                        <a href="http://sunlandsg.vn/du-an/lucasta/mat-bang" target="_blank">
                            <img class="img-responsive" src="http://sunlandsg.vn/data/upload/image/banner/hanh-phuc-gia-bao-nhieu_57e4c604d5bd9.gif" alt="LUCASTA - HẠNH PHÚC GIÁ BAO NHIÊU?">
                        </a>
                    </div>
                    <div class="item">
                        <a href="http://sunlandsg.vn/du-an/can-ho-jamila/gioi-thieu" target="_blank">
                            <img class="img-responsive" src="http://sunlandsg.vn/data/upload/image/banner/Jamila_Right_Banner1_58f86e0ca90ad.gif" alt="MỞ BÁN CĂN HỘ JAMILA KHANG ĐIỀN QUẬN 9 - MẶT TIỀN SONG HÀNH - CHỈ TỪ 22.5TR/M2">
                        </a>
                    </div>
                    <div class="item">
                        <a href="http://sunlandsg.vn/du-an/can-ho-jamila/gioi-thieu" target="_blank">
                            <img class="img-responsive" src="http://sunlandsg.vn/data/upload/image/banner/Jamila_Right_Banner4_58f86f0ad7ace.gif" alt="Căn hộ mặt tiền Song hành Quận 9 - mở bán chính thức 14,5tr/m2 - SunlandSG Phân phối chính thức">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>