@{ 
    ViewBag.Title = "Danh sách nhà đất.";
}

<section class="head-bg-bottom">
    <div class="container">
        <h1>Siêu thị địa ốc</h1>
    </div>
</section>
<section class="content-bottom page-event page-real">
    <div class="container">
        <div class="row">
            <div class="news-list col-md-9">
                <h2 class="page-title page-title-style-1 hide">Bất động sản tại việt nam</h2>
                <div class="box-adv-zone2">

                    <div class="ads-banner">
                        <div class="item">
                            <a href="http://sunlandsg.vn/dang-ky">
                                <img class="img-responsive" src="http://sunlandsg.vn/data/upload/image/banner/825-X-120_5715f3538d4be.png" alt="Banner Trung Tâm">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="news-list">
                    <div class="news-box">
                        <div class="title-news">
                            <h2>Bất động sản mới nhất</h2>
                            <span></span>
                        </div>
                        <div class="content-news-lst">
                            <ul>
                                <li>
                                    <a href="/sieu-thi-dia-oc/merita-ban-can-5x17-view-ho-boi-4950-ty-ms-linh" title="MERITA bán căn 5x17 view hồ bơi 4,950 tỷ - Ms Linh"><img class="img-responsive" src="http://sunlandsg.vn/data/upload/image/realestate/thumb/MB-MERITA-KHANG-DIEN-HOUSE-1_5982e3f1a5c88.jpg" width="300" height="221" alt="MERITA bán căn 5x17 view hồ bơi 4,950 tỷ - Ms Linh" title="MERITA bán căn 5x17 view hồ bơi 4,950 tỷ - Ms Linh"></a>
                                    <div class="r-listnews">
                                        <div class="right-listnews">
                                            <a title="MERITA bán căn 5x17 view hồ bơi 4,950 tỷ - Ms Linh" href="/sieu-thi-dia-oc/merita-ban-can-5x17-view-ho-boi-4950-ty-ms-linh">MERITA bán căn 5x17 view hồ bơi 4,950 tỷ - Ms Linh</a>
                                            <p>
                                                <span class="duan">Dự án : Tháp Mười Merita Khang Điền</span>
                                                <span class="malo">Mã lô : Chưa cập nhật</span>
                                            </p>
                                            <p>
                                                <span class="dientich">Diện tích : 5*17 (m2)</span>
                                                <span class="huong">Hướng nhà : Tây Nam</span>
                                            </p>
                                            <p>
                                                <span class="duongvao">Đường trước mặt : 16 (m)</span>
                                                <span class="phaply">Pháp lý : Sổ Hồng</span>
                                            </p>
                                            <div class="right-icon"><label><b>5 Tỷ</b></label><span>Giá: </span></div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="/sieu-thi-dia-oc/ban-can-shophouse-ben-mega-village-tien-kinh-doanh-4250-ty-full-nt-0911122249-ms-linh" title="Bán căn Shophouse bên Mega Village tiện Kinh Doanh 4.250 tỷ full NT -  0911122249 Ms Linh"><img class="img-responsive" src="http://sunlandsg.vn/data/upload/image/realestate/thumb/Sales_kit_mb_nha_Page_04_5982e2fc70e44.jpg" width="300" height="221" alt="Bán căn Shophouse bên Mega Village tiện Kinh Doanh 4.250 tỷ full NT -  0911122249 Ms Linh" title="Bán căn Shophouse bên Mega Village tiện Kinh Doanh 4.250 tỷ full NT -  0911122249 Ms Linh"></a>
                                    <div class="r-listnews">
                                        <div class="right-listnews">
                                            <a title="Bán căn Shophouse bên Mega Village tiện Kinh Doanh 4.250 tỷ full NT -  0911122249 Ms Linh" href="/sieu-thi-dia-oc/ban-can-shophouse-ben-mega-village-tien-kinh-doanh-4250-ty-full-nt-0911122249-ms-linh">Bán căn Shophouse bên Mega Village tiện Kinh Doanh 4.250 tỷ full NT -  0911122249 Ms Linh</a>
                                            <p>
                                                <span class="duan">Dự án : Chưa chọn</span>
                                                <span class="malo">Mã lô :  đã có sổ hồng</span>
                                            </p>
                                            <p>
                                                <span class="dientich">Diện tích : 5*16 (m2)</span>
                                                <span class="huong">Hướng nhà : Đông Bắc</span>
                                            </p>
                                            <p>
                                                <span class="duongvao">Đường trước mặt : 30 (m)</span>
                                                <span class="phaply">Pháp lý : Sổ Hồng</span>
                                            </p>
                                            <div class="right-icon"><label><b>4.3 Tỷ</b></label><span>Giá: </span></div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="/sieu-thi-dia-oc/can-tien-ban-gap-can-e-lucastadt-10x23huong-bacso-hong-2016gia-9tybao-vatlh-0949766228-mr-hai" title="Cần tiền bán gấp căn E Lucasta,dt 10x23,hướng Bắc,sổ hồng 2016,giá 9tỷ,bao VAT,lh 0949766228 Mr Hải"><img class="img-responsive" src="http://sunlandsg.vn/data/upload/image/realestate/thumb/MBTT_Lucasta_5982a75860a89.png" width="300" height="221" alt="Cần tiền bán gấp căn E Lucasta,dt 10x23,hướng Bắc,sổ hồng 2016,giá 9tỷ,bao VAT,lh 0949766228 Mr Hải" title="Cần tiền bán gấp căn E Lucasta,dt 10x23,hướng Bắc,sổ hồng 2016,giá 9tỷ,bao VAT,lh 0949766228 Mr Hải"></a>
                                    <div class="r-listnews">
                                        <div class="right-listnews">
                                            <a title="Cần tiền bán gấp căn E Lucasta,dt 10x23,hướng Bắc,sổ hồng 2016,giá 9tỷ,bao VAT,lh 0949766228 Mr Hải" href="/sieu-thi-dia-oc/can-tien-ban-gap-can-e-lucastadt-10x23huong-bacso-hong-2016gia-9tybao-vatlh-0949766228-mr-hai">Cần tiền bán gấp căn E Lucasta,dt 10x23,hướng Bắc,sổ hồng 2016,giá 9tỷ,bao VAT,lh 0949766228 Mr Hải</a>
                                            <p>
                                                <span class="duan">Dự án : Dự án Lucasta Villa</span>
                                                <span class="malo">Mã lô : Chưa cập nhật</span>
                                            </p>
                                            <p>
                                                <span class="dientich">Diện tích : 10 x 23 (m2)</span>
                                                <span class="huong">Hướng nhà : Bắc</span>
                                            </p>
                                            <p>
                                                <span class="duongvao">Đường trước mặt : 20 (m)</span>
                                                <span class="phaply">Pháp lý : Sổ Hồng</span>
                                            </p>
                                            <div class="right-icon"><label><b>9 Tỷ</b></label><span>Giá: </span></div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="/sieu-thi-dia-oc/lucasta-biet-thu-ven-song-dang-cap-cuoc-song-thuong-luu-gia-6-5ty" title="Lucasta biệt thự ven sông đẳng cấp cuộc sống thượng lưu, giá 6.5tỷ "><img class="img-responsive" src="http://sunlandsg.vn/data/upload/image/realestate/thumb/IMG4_57ac4209dce7f.jpg" width="300" height="221" alt="Lucasta biệt thự ven sông đẳng cấp cuộc sống thượng lưu, giá 6.5tỷ " title="Lucasta biệt thự ven sông đẳng cấp cuộc sống thượng lưu, giá 6.5tỷ "></a>
                                    <div class="r-listnews">
                                        <div class="right-listnews">
                                            <a title="Lucasta biệt thự ven sông đẳng cấp cuộc sống thượng lưu, giá 6.5tỷ " href="/sieu-thi-dia-oc/lucasta-biet-thu-ven-song-dang-cap-cuoc-song-thuong-luu-gia-6-5ty">Lucasta biệt thự ven sông đẳng cấp cuộc sống thượng lưu, giá 6.5tỷ </a>
                                            <p>
                                                <span class="duan">Dự án : Dự án Lucasta Villa</span>
                                                <span class="malo">Mã lô : Chưa cập nhật</span>
                                            </p>
                                            <p>
                                                <span class="dientich">Diện tích : 192 (m2)</span>
                                                <span class="huong">Hướng nhà : Khác</span>
                                            </p>
                                            <p>
                                                <span class="duongvao">Đường trước mặt : 10 (m)</span>
                                                <span class="phaply">Pháp lý : Chưa cập nhật</span>
                                            </p>
                                            <div class="right-icon"><label><b>6.5 Tỷ</b></label><span>Giá: </span></div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="/sieu-thi-dia-oc/ban-can-l30-melosa-biet-thu-sl-dt-8x18m-full-noi-that-cao-cap-gia-73-ty-lh-0949766228-mr-hai-" title="Bán căn L30 Melosa biệt thự SL, DT 8x18m, full nội thất cao cấp, giá 7.3 tỷ. LH 0949766228 Mr Hải "><img class="img-responsive" src="http://sunlandsg.vn/data/upload/image/realestate/thumb/z598958741326_d41f7ced79250912d90ff444fca09dd3_597029ec4ac45.jpg" width="300" height="221" alt="Bán căn L30 Melosa biệt thự SL, DT 8x18m, full nội thất cao cấp, giá 7.3 tỷ. LH 0949766228 Mr Hải " title="Bán căn L30 Melosa biệt thự SL, DT 8x18m, full nội thất cao cấp, giá 7.3 tỷ. LH 0949766228 Mr Hải "></a>
                                    <div class="r-listnews">
                                        <div class="right-listnews">
                                            <a title="Bán căn L30 Melosa biệt thự SL, DT 8x18m, full nội thất cao cấp, giá 7.3 tỷ. LH 0949766228 Mr Hải " href="/sieu-thi-dia-oc/ban-can-l30-melosa-biet-thu-sl-dt-8x18m-full-noi-that-cao-cap-gia-73-ty-lh-0949766228-mr-hai-">Bán căn L30 Melosa biệt thự SL, DT 8x18m, full nội thất cao cấp, giá 7.3 tỷ. LH 0949766228 Mr Hải </a>
                                            <p>
                                                <span class="duan">Dự án : Melosa Garden</span>
                                                <span class="malo">Mã lô : L30</span>
                                            </p>
                                            <p>
                                                <span class="dientich">Diện tích : 18 (m2)</span>
                                                <span class="huong">Hướng nhà : Bắc</span>
                                            </p>
                                            <p>
                                                <span class="duongvao">Đường trước mặt : 8 (m)</span>
                                                <span class="phaply">Pháp lý : Sổ Hồng</span>
                                            </p>
                                            <div class="right-icon"><label><b>7.3 Tỷ</b></label><span>Giá: </span></div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="/sieu-thi-dia-oc/nha-pho-melosa-5x16-so-hong-35-ty-lh-0902902556-tuan" title="Nhà phố Melosa 5x16 sổ hồng 3.5 ty lh: 0902.902.556 Tuấn"><img class="img-responsive" src="http://sunlandsg.vn/data/upload/image/realestate/thumb/melusa_5982983221a2b.jpg" width="300" height="221" alt="Nhà phố Melosa 5x16 sổ hồng 3.5 ty lh: 0902.902.556 Tuấn" title="Nhà phố Melosa 5x16 sổ hồng 3.5 ty lh: 0902.902.556 Tuấn"></a>
                                    <div class="r-listnews">
                                        <div class="right-listnews">
                                            <a title="Nhà phố Melosa 5x16 sổ hồng 3.5 ty lh: 0902.902.556 Tuấn" href="/sieu-thi-dia-oc/nha-pho-melosa-5x16-so-hong-35-ty-lh-0902902556-tuan">Nhà phố Melosa 5x16 sổ hồng 3.5 ty lh: 0902.902.556 Tuấn</a>
                                            <p>
                                                <span class="duan">Dự án : Melosa Garden</span>
                                                <span class="malo">Mã lô : Chưa cập nhật</span>
                                            </p>
                                            <p>
                                                <span class="dientich">Diện tích : 5x16 (m2)</span>
                                                <span class="huong">Hướng nhà : Bắc</span>
                                            </p>
                                            <p>
                                                <span class="duongvao">Đường trước mặt : 12 (m)</span>
                                                <span class="phaply">Pháp lý : Sổ Hồng</span>
                                            </p>
                                            <div class="right-icon"><label><b>3.5 Tỷ</b></label><span>Giá: </span></div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="/sieu-thi-dia-oc/mega-saphire-ban-gap-can-h8-37-ty-tl" title="Mega Saphire bán gấp căn H8 3,7 tỷ TL 0911122249 Ms Linh "><img class="img-responsive" src="http://sunlandsg.vn/data/upload/image/realestate/thumb/20160802100950-d70f_597d72f0f410a.jpg" width="300" height="221" alt="Mega Saphire bán gấp căn H8 3,7 tỷ TL 0911122249 Ms Linh " title="Mega Saphire bán gấp căn H8 3,7 tỷ TL 0911122249 Ms Linh "></a>
                                    <div class="r-listnews">
                                        <div class="right-listnews">
                                            <a title="Mega Saphire bán gấp căn H8 3,7 tỷ TL 0911122249 Ms Linh " href="/sieu-thi-dia-oc/mega-saphire-ban-gap-can-h8-37-ty-tl">Mega Saphire bán gấp căn H8 3,7 tỷ TL 0911122249 Ms Linh </a>
                                            <p>
                                                <span class="duan">Dự án : Dự án Mega Saphire</span>
                                                <span class="malo">Mã lô : H8</span>
                                            </p>
                                            <p>
                                                <span class="dientich">Diện tích : 5x17 (m2)</span>
                                                <span class="huong">Hướng nhà : Tây Bắc</span>
                                            </p>
                                            <p>
                                                <span class="duongvao">Đường trước mặt : 12 (m)</span>
                                                <span class="phaply">Pháp lý : Sổ Hồng</span>
                                            </p>
                                            <div class="right-icon"><label><b>3.7 Tỷ</b></label><span>Giá: </span></div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="/sieu-thi-dia-oc/mega-residence-ban-lai-can-full-noi-that-gia-36-ty-db" title="Mega Residence bán lại căn Full nội thất giá 3,6 tỷ ĐB 0911122249 Ms Linh"><img class="img-responsive" src="http://sunlandsg.vn/data/upload/image/realestate/thumb/1415609014-nha-tai-mega-ruby-da-tim-thay-chu-nhan-1_597d749f63dfd.jpg" width="300" height="221" alt="Mega Residence bán lại căn Full nội thất giá 3,6 tỷ ĐB 0911122249 Ms Linh" title="Mega Residence bán lại căn Full nội thất giá 3,6 tỷ ĐB 0911122249 Ms Linh"></a>
                                    <div class="r-listnews">
                                        <div class="right-listnews">
                                            <a title="Mega Residence bán lại căn Full nội thất giá 3,6 tỷ ĐB 0911122249 Ms Linh" href="/sieu-thi-dia-oc/mega-residence-ban-lai-can-full-noi-that-gia-36-ty-db">Mega Residence bán lại căn Full nội thất giá 3,6 tỷ ĐB 0911122249 Ms Linh</a>
                                            <p>
                                                <span class="duan">Dự án : Dự án Mega Residence</span>
                                                <span class="malo">Mã lô : C20</span>
                                            </p>
                                            <p>
                                                <span class="dientich">Diện tích : 5*15 (m2)</span>
                                                <span class="huong">Hướng nhà : Đông Bắc</span>
                                            </p>
                                            <p>
                                                <span class="duongvao">Đường trước mặt : 16 (m)</span>
                                                <span class="phaply">Pháp lý : Sổ Hồng</span>
                                            </p>
                                            <div class="right-icon"><label><b>3.6 Tỷ</b></label><span>Giá: </span></div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="/sieu-thi-dia-oc/mega-saphire-ban-gap-can-h8-37-ty-tl" title="Mega Saphire Cần tiền bán gấp căn G 3,9 tỷ TL 0911122249 Ms Linh"><img class="img-responsive" src="http://sunlandsg.vn/data/upload/image/realestate/thumb/20170712141540-3191_wm_597d73683e4d5.jpg" width="300" height="221" alt="Mega Saphire Cần tiền bán gấp căn G 3,9 tỷ TL 0911122249 Ms Linh" title="Mega Saphire Cần tiền bán gấp căn G 3,9 tỷ TL 0911122249 Ms Linh"></a>
                                    <div class="r-listnews">
                                        <div class="right-listnews">
                                            <a title="Mega Saphire Cần tiền bán gấp căn G 3,9 tỷ TL 0911122249 Ms Linh" href="/sieu-thi-dia-oc/mega-saphire-ban-gap-can-h8-37-ty-tl">Mega Saphire Cần tiền bán gấp căn G 3,9 tỷ TL 0911122249 Ms Linh</a>
                                            <p>
                                                <span class="duan">Dự án : Dự án Mega Saphire</span>
                                                <span class="malo">Mã lô : G</span>
                                            </p>
                                            <p>
                                                <span class="dientich">Diện tích : 5x17 (m2)</span>
                                                <span class="huong">Hướng nhà : Đông Nam</span>
                                            </p>
                                            <p>
                                                <span class="duongvao">Đường trước mặt : 12 (m)</span>
                                                <span class="phaply">Pháp lý : Sổ Hồng</span>
                                            </p>
                                            <div class="right-icon"><label><b>3.9 Tỷ</b></label><span>Giá: </span></div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="/sieu-thi-dia-oc/venica-biet-thu-dang-cap-nhat-sg-q9-bung-can-gia-goc-cdt-187-ty-" title="VENICA- Biệt thự đẳng cấp nhất SG Q9 bung căn giá gốc CĐT 18.7 tỷ  0911122249 Ms Linh"><img class="img-responsive" src="http://sunlandsg.vn/data/upload/image/realestate/thumb/nha-dieu-hanh-biet-thu-venica_597d70fc18370.jpg" width="300" height="221" alt="VENICA- Biệt thự đẳng cấp nhất SG Q9 bung căn giá gốc CĐT 18.7 tỷ  0911122249 Ms Linh" title="VENICA- Biệt thự đẳng cấp nhất SG Q9 bung căn giá gốc CĐT 18.7 tỷ  0911122249 Ms Linh"></a>
                                    <div class="r-listnews">
                                        <div class="right-listnews">
                                            <a title="VENICA- Biệt thự đẳng cấp nhất SG Q9 bung căn giá gốc CĐT 18.7 tỷ  0911122249 Ms Linh" href="/sieu-thi-dia-oc/venica-biet-thu-dang-cap-nhat-sg-q9-bung-can-gia-goc-cdt-187-ty-">VENICA- Biệt thự đẳng cấp nhất SG Q9 bung căn giá gốc CĐT 18.7 tỷ  0911122249 Ms Linh</a>
                                            <p>
                                                <span class="duan">Dự án : The Venica Khang Điền</span>
                                                <span class="malo">Mã lô : E2</span>
                                            </p>
                                            <p>
                                                <span class="dientich">Diện tích : 10X25 (m2)</span>
                                                <span class="huong">Hướng nhà : Đông Bắc</span>
                                            </p>
                                            <p>
                                                <span class="duongvao">Đường trước mặt : 12 (m)</span>
                                                <span class="phaply">Pháp lý : Sổ Hồng</span>
                                            </p>
                                            <div class="right-icon"><label><b>18.7 Tỷ</b></label><span>Giá: </span></div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="/sieu-thi-dia-oc/hot-hot-hot-pha-san-ban-gap-can-biet-thu-lucasta-175m-77-ty-" title="HOT HOT HOT-  PHÁ SẢN  bán gấp căn Biệt thự Lucasta 175m- 7.7 tỷ  0911122249 Ms Linh"><img class="img-responsive" src="http://sunlandsg.vn/data/upload/image/realestate/thumb/biet-thu-song-lap-lucasta_597d6dc8431c2.jpg" width="300" height="221" alt="HOT HOT HOT-  PHÁ SẢN  bán gấp căn Biệt thự Lucasta 175m- 7.7 tỷ  0911122249 Ms Linh" title="HOT HOT HOT-  PHÁ SẢN  bán gấp căn Biệt thự Lucasta 175m- 7.7 tỷ  0911122249 Ms Linh"></a>
                                    <div class="r-listnews">
                                        <div class="right-listnews">
                                            <a title="HOT HOT HOT-  PHÁ SẢN  bán gấp căn Biệt thự Lucasta 175m- 7.7 tỷ  0911122249 Ms Linh" href="/sieu-thi-dia-oc/hot-hot-hot-pha-san-ban-gap-can-biet-thu-lucasta-175m-77-ty-">HOT HOT HOT-  PHÁ SẢN  bán gấp căn Biệt thự Lucasta 175m- 7.7 tỷ  0911122249 Ms Linh</a>
                                            <p>
                                                <span class="duan">Dự án : Dự án Lucasta Villa</span>
                                                <span class="malo">Mã lô : 175</span>
                                            </p>
                                            <p>
                                                <span class="dientich">Diện tích : 10x17.5 (m2)</span>
                                                <span class="huong">Hướng nhà : Bắc</span>
                                            </p>
                                            <p>
                                                <span class="duongvao">Đường trước mặt : 16 (m)</span>
                                                <span class="phaply">Pháp lý : Sổ Hồng</span>
                                            </p>
                                            <div class="right-icon"><label><b>7.7 Tỷ</b></label><span>Giá: </span></div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="/sieu-thi-dia-oc/ban-gap-2-can-518-db-merita-gia-4650ty-tt-50-0911122249-ms-linh" title="Bán gấp 2 căn 5*18 ĐB MERITA giá 4.650ty TT 50% 0911122249 Ms Linh"><img class="img-responsive" src="http://sunlandsg.vn/data/upload/image/realestate/thumb/b23_597d7a2f4d02f.jpg" width="300" height="221" alt="Bán gấp 2 căn 5*18 ĐB MERITA giá 4.650ty TT 50% 0911122249 Ms Linh" title="Bán gấp 2 căn 5*18 ĐB MERITA giá 4.650ty TT 50% 0911122249 Ms Linh"></a>
                                    <div class="r-listnews">
                                        <div class="right-listnews">
                                            <a title="Bán gấp 2 căn 5*18 ĐB MERITA giá 4.650ty TT 50% 0911122249 Ms Linh" href="/sieu-thi-dia-oc/ban-gap-2-can-518-db-merita-gia-4650ty-tt-50-0911122249-ms-linh">Bán gấp 2 căn 5*18 ĐB MERITA giá 4.650ty TT 50% 0911122249 Ms Linh</a>
                                            <p>
                                                <span class="duan">Dự án : Tháp Mười Merita Khang Điền</span>
                                                <span class="malo">Mã lô : D9,  D10 </span>
                                            </p>
                                            <p>
                                                <span class="dientich">Diện tích : 5*18 (m2)</span>
                                                <span class="huong">Hướng nhà : Đông Bắc</span>
                                            </p>
                                            <p>
                                                <span class="duongvao">Đường trước mặt : 16 (m)</span>
                                                <span class="phaply">Pháp lý : Sổ Hồng</span>
                                            </p>
                                            <div class="right-icon"><label><b>4.7 Tỷ</b></label><span>Giá: </span></div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="/sieu-thi-dia-oc/merita-ban-lai-can-view-truc-dien-ho-boi-6x17" title="Merita bán lại căn view trực diện hồ bơi 6x17 6.150ty 0911122249 Ms Linh"><img class="img-responsive" src="http://sunlandsg.vn/data/upload/image/realestate/thumb/merita-khang-dien-quan-9-900x394_591d743ee4f8b.jpg" width="300" height="221" alt="Merita bán lại căn view trực diện hồ bơi 6x17 6.150ty 0911122249 Ms Linh" title="Merita bán lại căn view trực diện hồ bơi 6x17 6.150ty 0911122249 Ms Linh"></a>
                                    <div class="r-listnews">
                                        <div class="right-listnews">
                                            <a title="Merita bán lại căn view trực diện hồ bơi 6x17 6.150ty 0911122249 Ms Linh" href="/sieu-thi-dia-oc/merita-ban-lai-can-view-truc-dien-ho-boi-6x17">Merita bán lại căn view trực diện hồ bơi 6x17 6.150ty 0911122249 Ms Linh</a>
                                            <p>
                                                <span class="duan">Dự án : Tháp Mười Merita Khang Điền</span>
                                                <span class="malo">Mã lô : 102</span>
                                            </p>
                                            <p>
                                                <span class="dientich">Diện tích : 102 (m2)</span>
                                                <span class="huong">Hướng nhà : Đông Nam</span>
                                            </p>
                                            <p>
                                                <span class="duongvao">Đường trước mặt : 30 (m)</span>
                                                <span class="phaply">Pháp lý : Sổ Hồng</span>
                                            </p>
                                            <div class="right-icon"><label><b>6.2 Tỷ</b></label><span>Giá: </span></div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="/sieu-thi-dia-oc/cho-thue-mat-truc-duong-chinh-mega-residence-5185-lh-0911122249-ms-linh" title="Cho thuê mặt trục đường chính MEGA RESIDENCE 5*18.5 LH 0911122249 Ms Linh"><img class="img-responsive" src="http://sunlandsg.vn/data/upload/image/realestate/thumb/du-an-mega-ruby-quan-9-_597d81c7d74ce.jpg" width="300" height="221" alt="Cho thuê mặt trục đường chính MEGA RESIDENCE 5*18.5 LH 0911122249 Ms Linh" title="Cho thuê mặt trục đường chính MEGA RESIDENCE 5*18.5 LH 0911122249 Ms Linh"></a>
                                    <div class="r-listnews">
                                        <div class="right-listnews">
                                            <a title="Cho thuê mặt trục đường chính MEGA RESIDENCE 5*18.5 LH 0911122249 Ms Linh" href="/sieu-thi-dia-oc/cho-thue-mat-truc-duong-chinh-mega-residence-5185-lh-0911122249-ms-linh">Cho thuê mặt trục đường chính MEGA RESIDENCE 5*18.5 LH 0911122249 Ms Linh</a>
                                            <p>
                                                <span class="duan">Dự án : Dự án Mega Residence</span>
                                                <span class="malo">Mã lô : Dãy A</span>
                                            </p>
                                            <p>
                                                <span class="dientich">Diện tích : 5*18.5 (m2)</span>
                                                <span class="huong">Hướng nhà : Đông Nam</span>
                                            </p>
                                            <p>
                                                <span class="duongvao">Đường trước mặt : 16 (m)</span>
                                                <span class="phaply">Pháp lý : Sổ Hồng</span>
                                            </p>
                                            <div class="right-icon"><label><b>16 Triệu</b></label><span>Giá: </span></div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="/sieu-thi-dia-oc/duy-nhat-con-1-can-nha-tho-mega-residence-3390-ty-lh-0911122249-ms-linh" title="Duy nhất còn 1 căn nhà thô Mega Residence 3.390 tỷ LH 0911122249 Ms Linh"><img class="img-responsive" src="http://sunlandsg.vn/data/upload/image/realestate/thumb/201411111839_p_20141108_082338_1415672348_597d836db1f76.jpg" width="300" height="221" alt="Duy nhất còn 1 căn nhà thô Mega Residence 3.390 tỷ LH 0911122249 Ms Linh" title="Duy nhất còn 1 căn nhà thô Mega Residence 3.390 tỷ LH 0911122249 Ms Linh"></a>
                                    <div class="r-listnews">
                                        <div class="right-listnews">
                                            <a title="Duy nhất còn 1 căn nhà thô Mega Residence 3.390 tỷ LH 0911122249 Ms Linh" href="/sieu-thi-dia-oc/duy-nhat-con-1-can-nha-tho-mega-residence-3390-ty-lh-0911122249-ms-linh">Duy nhất còn 1 căn nhà thô Mega Residence 3.390 tỷ LH 0911122249 Ms Linh</a>
                                            <p>
                                                <span class="duan">Dự án : Dự án Mega Residence</span>
                                                <span class="malo">Mã lô : F7</span>
                                            </p>
                                            <p>
                                                <span class="dientich">Diện tích : Hồ Chí Minh (m2)</span>
                                                <span class="huong">Hướng nhà : Bắc</span>
                                            </p>
                                            <p>
                                                <span class="duongvao">Đường trước mặt : 16 (m)</span>
                                                <span class="phaply">Pháp lý : Sổ Hồng</span>
                                            </p>
                                            <div class="right-icon"><label><b>3.4 Tỷ</b></label><span>Giá: </span></div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="text-ul">
                        <ul class="pagination">
                            <li class="prev disabled"><span>«</span></li>
                            <li class="active"><a href="/frontend/realestate/index?page=1&amp;per-page=15" data-page="0">1</a></li>
                            <li><a href="/frontend/realestate/index?page=2&amp;per-page=15" data-page="1">2</a></li>
                            <li><a href="/frontend/realestate/index?page=3&amp;per-page=15" data-page="2">3</a></li>
                            <li><a href="/frontend/realestate/index?page=4&amp;per-page=15" data-page="3">4</a></li>
                            <li><a href="/frontend/realestate/index?page=5&amp;per-page=15" data-page="4">5</a></li>
                            <li><a href="/frontend/realestate/index?page=6&amp;per-page=15" data-page="5">6</a></li>
                            <li><a href="/frontend/realestate/index?page=7&amp;per-page=15" data-page="6">7</a></li>
                            <li><a href="/frontend/realestate/index?page=8&amp;per-page=15" data-page="7">8</a></li>
                            <li><a href="/frontend/realestate/index?page=9&amp;per-page=15" data-page="8">9</a></li>
                            <li><a href="/frontend/realestate/index?page=10&amp;per-page=15" data-page="9">10</a></li>
                            <li class="next"><a href="/frontend/realestate/index?page=2&amp;per-page=15" data-page="1">»</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="event-box col-md-3">
                <div class="search-bds">
                    <div class="title-sr">
                        <img src="http://sunlandsg.vn/themes/frontend/images/search-icon.png" alt="">
                        Tìm kiếm bất động sản
                    </div>
                    <div class="bg-search">
                        <form id="realSearchForm" role="form" action="/tim-kiem-bat-dong-san" method="get">
                            <input type="text" name="s" id="s" placeholder="Nhập tên dự án hoặc vị trí" value="">
                            <select name="province" id="province">
                                <option value="">Tỉnh/Thành phố</option>
                                <option value="79">Hồ Chí Minh</option>
                                <option value="1">Hà Nội</option>
                                <option value="48">Đà Nẵng</option>
                                <option value="2">Hà Giang</option>
                                <option value="4">Cao Bằng</option>
                                <option value="6">Bắc Kạn</option>
                                <option value="8">Tuyên Quang</option>
                                <option value="10">Lào Cai</option>
                                <option value="11">Điện Biên</option>
                                <option value="12">Lai Châu</option>
                                <option value="14">Sơn La</option>
                                <option value="15">Yên Bái</option>
                                <option value="17">Hòa Bình</option>
                                <option value="19">Thái Nguyên</option>
                                <option value="20">Lạng Sơn</option>
                                <option value="22">Quảng Ninh</option>
                                <option value="24">Bắc Giang</option>
                                <option value="25">Phú Thọ</option>
                                <option value="26">Vĩnh Phúc</option>
                                <option value="27">Bắc Ninh</option>
                                <option value="30">Hải Dương</option>
                                <option value="31">Hải Phòng</option>
                                <option value="33">Hưng Yên</option>
                                <option value="34">Thái Bình</option>
                                <option value="35">Hà Nam</option>
                                <option value="36">Nam Định</option>
                                <option value="37">Ninh Bình</option>
                                <option value="38">Thanh Hóa</option>
                                <option value="40">Nghệ An</option>
                                <option value="42">Hà Tĩnh</option>
                                <option value="44">Quảng Bình</option>
                                <option value="45">Quảng Trị</option>
                                <option value="46">Thừa Thiên Huế</option>
                                <option value="49">Quảng Nam</option>
                                <option value="51">Quảng Ngãi</option>
                                <option value="52">Bình Định</option>
                                <option value="54">Phú Yên</option>
                                <option value="56">Khánh Hòa</option>
                                <option value="58">Ninh Thuận</option>
                                <option value="60">Bình Thuận</option>
                                <option value="62">Kon Tum</option>
                                <option value="64">Gia Lai</option>
                                <option value="66">Đắk Lắk</option>
                                <option value="67">Đắk Nông</option>
                                <option value="68">Lâm Đồng</option>
                                <option value="70">Bình Phước</option>
                                <option value="72">Tây Ninh</option>
                                <option value="74">Bình Dương</option>
                                <option value="75">Đồng Nai</option>
                                <option value="77">Bà Rịa - Vũng Tàu</option>
                                <option value="80">Long An</option>
                                <option value="82">Tiền Giang</option>
                                <option value="83">Bến Tre</option>
                                <option value="84">Trà Vinh</option>
                                <option value="86">Vĩnh Long</option>
                                <option value="87">Đồng Tháp</option>
                                <option value="89">An Giang</option>
                                <option value="91">Kiên Giang</option>
                                <option value="92">Cần Thơ</option>
                                <option value="93">Hậu Giang</option>
                                <option value="94">Sóc Trăng</option>
                                <option value="95">Bạc Liêu</option>
                                <option value="96">Cà Mau</option>
                            </select>
                            <select name="district" id="district" data-value="">
                                <option value="">Quận/Huyện</option>
                            </select>

                            <select name="type">
                                <option value="">Loại Bất động sản</option>
                                <option value="2">Nhà phố</option>
                                <option value="3">Căn hộ</option>
                                <option value="4">Đất nền</option>
                                <option value="5">Biệt thự</option>
                            </select>
                            <select name="method">
                                <option value="">Loại giao dịch</option>
                                <option value="sale">Cần bán</option>
                                <option value="rent">Cho thuê</option>
                                <option value="buy">Cần mua</option>
                                <option value="forrent">Cần thuê</option>
                            </select>

                            <select name="area" style="display:none;">
                                <option value="">Diện tích</option>
                                <option value="22">&lt;= 30 m2</option>
                                <option value="23">30 - 50 m2</option>
                                <option value="24">50 - 80 m2</option>
                                <option value="25">80 - 100</option>
                                <option value="26">100 - 150 m2</option>
                                <option value="27">150 - 200 m2</option>
                                <option value="28">200 - 250 m2</option>
                                <option value="29">250 - 300 m2</option>
                                <option value="30">300 - 500 m2</option>
                                <option value="31">&gt; 500 m2</option>
                            </select>
                            <select name="direction">
                                <option value="">Hướng</option>
                                <option value="">Chưa chọn</option>
                                <option value="Đông">Đông</option>
                                <option value="Tây">Tây</option>
                                <option value="Nam">Nam</option>
                                <option value="Bắc">Bắc</option>
                                <option value="Đông Bắc">Đông Bắc</option>
                                <option value="Đông Nam">Đông Nam</option>
                                <option value="Tây Bắc">Tây Bắc</option>
                                <option value="Tây Nam">Tây Nam</option>
                                <option value="Khác">Khác</option>
                            </select>
                            <select name="price" id="rePrice">
                                <option value="">Khoảng giá</option>
                                <option value="8">Từ 0 đến 500tr</option>
                                <option value="9">Từ 500tr đến 1tỷ</option>
                                <option value="10">Từ 1tỷ đến 2tỷ</option>
                                <option value="11">Từ 2tỷ đến 4tỷ</option>
                                <option value="12">Từ 4tỷ đến 7tỷ</option>
                                <option value="13">Từ 7tỷ đến 10tỷ</option>
                            </select>
                            <button type="submit">Tìm kiếm</button>
                        </form>
                    </div>
                </div>
                <div class="ads-r">
                    <h4>Đăng ký<br> nhận tin bất động sản</h4>

                    <div class="box-input">
                        <form id="realRegForm" action="/frontend/ajax/save-contact" method="post">
                            <input type="hidden" name="_csrf" value="VUVGNEw5Zk8NdgdbNno2IDMLAwMDclMWHwg0bA94IhcSFTR8fXA8NQ=="><div class="form-group field-frontcontact-name required">
                                <input type="text" id="frontcontact-name" class="form-control" name="FrontContact[name]" placeholder="Họ và tên"><span class="help-block"><div class="help-block"></div></span>
                            </div><div class="form-group field-frontcontact-phone required">
                                <input type="text" id="frontcontact-phone" class="form-control" name="FrontContact[phone]" placeholder="Số điện thoại"><span class="help-block"><div class="help-block"></div></span>
                            </div><div class="form-group field-frontcontact-email required">
                                <input type="text" id="frontcontact-email" class="form-control" name="FrontContact[email]" placeholder="Email"><span class="help-block"><div class="help-block"></div></span>
                            </div><div class="form-group field-frontcontact-type">

                                <input type="hidden" id="frontcontact-type" class="form-control" name="FrontContact[type]" value="5">

                                <div class="help-block"></div>
                            </div><div class="form-group field-frontcontact-object_id">

                                <input type="hidden" id="frontcontact-object_id" class="form-control" name="FrontContact[object_id]">

                                <div class="help-block"></div>
                            </div><div class="form-group field-frontcontact-item_name">

                                <input type="hidden" id="frontcontact-item_name" class="form-control" name="FrontContact[item_name]">

                                <div class="help-block"></div>
                            </div>    	<div class="form-group">
                                <button type="submit" class="">Đăng ký</button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="ads-banner">
                    <div class="item">
                        <a href="http://sunlandsg.vn/du-an/lucasta/mat-bang" target="_blank">
                            <img class="img-responsive" src="http://sunlandsg.vn/data/upload/image/banner/hanh-phuc-gia-bao-nhieu_57e4c604d5bd9.gif" alt="LUCASTA - HẠNH PHÚC GIÁ BAO NHIÊU?">
                        </a>
                    </div>
                    <div class="item">
                        <a href="http://sunlandsg.vn/du-an/can-ho-jamila/gioi-thieu" target="_blank">
                            <img class="img-responsive" src="http://sunlandsg.vn/data/upload/image/banner/Jamila_Right_Banner1_58f86e0ca90ad.gif" alt="MỞ BÁN CĂN HỘ JAMILA KHANG ĐIỀN QUẬN 9 - MẶT TIỀN SONG HÀNH - CHỈ TỪ 22.5TR/M2">
                        </a>
                    </div>
                    <div class="item">
                        <a href="http://sunlandsg.vn/du-an/can-ho-jamila/gioi-thieu" target="_blank">
                            <img class="img-responsive" src="http://sunlandsg.vn/data/upload/image/banner/Jamila_Right_Banner4_58f86f0ad7ace.gif" alt="Căn hộ mặt tiền Song hành Quận 9 - mở bán chính thức 14,5tr/m2 - SunlandSG Phân phối chính thức">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>