@{

}

<section class="head-bg-bottom">
    <div class="container">
        <h2>Tin bất động sản</h2>
    </div>
</section>
<section class="content-bottom page-child page-news-detail">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="box box-news-detail editor-content">
                    <div class="box-title box-title-border">
                        <h1>Rosita Garden _dự án nhà 2 khu vườn giá từ 2,98 tỷ đồng tại TP HCM</h1>
                        <div class="news-time">
                            <span class="glyphicon glyphicon-time"></span>11h - 28/07/2017
                        </div>
                    </div>
                    <div class="box-content">
                        <div class="news-detail">
                            <p style="text-align:justify"><span style="font-family:arial,helvetica,sans-serif"><span style="font-size:14px"><a href="http://sunlandsg.vn/du-an/rosita-garden/tong-quan-du-an-rosita-garden" target="_blank"><span style="color:rgb(0, 204, 255)"><strong>Rosita Garden</strong></span></a> là dự án nhà liên kế vườn với mỗi căn nhà là 2 mảnh vườn trước và sau. Được thiết kế hiện đại đảm bảo khoảng không gian xanh mát cho ngôi nhà. Với thiết kế ấy, những mảnh vườn trong dự án Rosita Khang Điền vừa mang tính trang trí sắc hoa tô điểm cho mảnh sân trước hiên, vừa cung cấp bữa ăn xanh cho gia đình với mảnh vườn rau sạch sau nhà</span></span></p>

                            <p style="text-align:center"><span style="font-size:14px"><img alt="Mảnh vườn trước cổng nhà rosita garden" src="http://sunlandsg.vn/data/upload/image_manual/project/ROSITA%20GARDEN/rosita-garden-khang-dien%20(7).jpg?1501215909210" style="height:800px; width:1280px"></span></p>

                            <p style="text-align:center"><span style="font-size:14px"><em>Khu vườn hồng ngát hương của nhà Rosita Garden</em></span></p>

                            <p style="text-align:justify"><span style="font-family:arial,helvetica,sans-serif"><span style="font-size:14px"><a href="http://sunlandsg.vn/tin-tuc/nhung-yeu-to-tao-nen-net-rieng-cho-du-an-rosita-garden" target="_blank"><span style="color:rgb(0, 204, 255)"><strong>Dự án Rosita</strong></span></a> Garden là sản phẩm sẽ ra mắt trong thời gian tới của Khang Điền. Dự án có mô hình <strong>VƯỜN - NHÀ - VƯỜN</strong>, gồm một trệt, hai lầu, hai sân vườn được thiết kế hiện với không gian sống xanh. Rosita Garden Khang Điền tọa lạc tại đường 990 (cách Nguyễn Duy Trinh 500m), cách vòng xoay Phú Hữu 1,5km. <span style="background-color:rgb(255, 255, 255)">Cư dân chỉ mất 10 phút đến khu đô thị Thủ Thiêm, 20 phút về trung tâm Quận 1 qua Cao tốc TP.HCM – Long Thành – Dầu Giây, 20 phút về Phú Mỹ Hưng thông qua cầu Phú Mỹ.</span></span></span></p>

                            <p style="text-align:justify"><span style="font-family:arial,helvetica,sans-serif"><span style="font-size:14px">Mỗi ngôi nhà tại Rosita Garden được chủ đầu tư Khang Điền thiết kế hiện đại, tiện nghi, gần gũi thiên nhiên và đều sở hữu 2 sân vườn rộng thoáng. Giá bán từ 2,98 tỷ đồng/ căn. Đặc biệt, có những căn mà sân vườn trước rộng đến 30 m2 và sân sau rộng đến 18 m2. Những bức tường được sơn sơn màu trắng chủ đạo mang lại vẻ đẹp sang trọng và tinh khôi nhưng không quá rực rỡ, hào nhoáng cho những căn nhà của gia chủ </span></span></p>

                            <p style="text-align:justify"><span style="font-family:arial,helvetica,sans-serif"><span style="font-size:14px">Ngoài ra, thiết kế vườn rộng rãi còn là một điểm mạnh của căn nhà. Sân phía trước hiên nhà, ngoài một khoảng dùng cho việc trồng những dàn bông, chậu hoa tổ điểm cho căn nhà. Còn có một khoảng khác được bố trí cho việc đậu xe ô tô hoặc những sinh hoạt ngoài trời khác. Kết hợp với vỉa hè được lát đá bước dậm bền chắc, tính nghệ thuật được tăng thêm đáng kể cho vẻ ngoài của ngôi nhà.</span></span></p>

                            <p style="text-align:justify"><span style="font-size:14px"><img alt="Khu Shophouse dự án Rosita Garden" src="http://sunlandsg.vn/data/upload/image_manual/project/ROSITA%20GARDEN/khu-vuong-ngat-huong-rosita-garden.jpg?1501216139209" style="height:628px; width:1200px"></span></p>

                            <p style="text-align:center"><span style="font-size:14px"><em>Khu Shophouse dự án Rosita Garden</em></span></p>

                            <p style="text-align:justify"><span style="font-family:arial,helvetica,sans-serif"><span style="font-size:14px">Khoảng sân vườn phía sau được thiết kế nhằm giúp cho gai chủ có được một vườn rau ăn quả sạch ngay tại chính căn nhà của mình. Với vườn cây xanh, gia chủ có thể chia thành từng ô nhỏ, mỗi ô trồng một loại rau khác nhau như rau muống, cải ngọt, cải thảo, mùng tơi, rau dền, rau thơm, hành hoa… Hay làm thành giàn trồng một số loài cây leo như: dưa chuột, đậu, bí xanh, bí đỏ…Ở góc sân vườn bạn nên trồng một số loài cây ăn quả nhanh cho trái như đu đủ, chanh, cam, dứa…</span></span></p>

                            <p style="text-align:justify"><span style="font-family:arial,helvetica,sans-serif"><span style="font-size:14px">Thiết kế tại Rosita Garden mang phong cách đơn giản nhưng vô cùng tinh tế. Các kiến trúc sư đã tận dụng tối đa ánh sáng và gió tự nhiên tạo không gian thoáng mát, không khí tự nhiên lan tỏa trong từng góc căn phòng. <span style="background-color:rgb(255, 255, 255)">Đây là một dự án mở ra không gian sống tiện nghi đem lại cho cư dân những phút giây thoải mái sáng tạo với cỏ cây hoa lá tận hưởng cuộc sống có cái nắng, có cái gió, có thiên nhiên làm bầu bạn. Tự tay kiến tạo khu vườn xinh, tự tay chăm sóc gia đình bằng những bữa ăn ngon và an toàn trong không gian sống thanh bình tại Rosita Khang Điền. Đó là một niềm vui sống nhiều ý nghĩa và bình an.</span></span></span></p>

                            <p style="text-align:center"><span style="font-size:14px"><strong>LIÊN HỆ NGAY ĐỂ ĐƯỢC HƯỚNG DẪN XEM NHÀ MẪU</strong></span></p>

                            <p style="text-align:center"><span style="font-size:14px"><a href="https://goo.gl/sU6CIR" rel="noopener noreferrer" style="margin: 0px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit; vertical-align: baseline; color: rgb(19, 91, 109); text-decoration: none; outline: 0px; -webkit-tap-highlight-color: rgb(255, 166, 2); transition: all 0.2s linear;" target="_blank"><img alt="form đăng ký dự án melosa" class="aligncenter" src="http://sunlandsg.vn/data/upload/image_manual/news/dang-ky-button.gif?1480063917633" style="border:0px; display:block; font-family:inherit; font-size:inherit; font-stretch:inherit; font-style:inherit; font-variant:inherit; font-weight:inherit; height:auto !important; line-height:inherit; margin:0px auto; max-width:100%; padding:0px; vertical-align:baseline"></a></span></p>

                            <p style="text-align:center"><span style="font-size:14px"><strong><em>SUNLANDSG</em>&nbsp;– ĐƠN VỊ PHÂN PHỐI CHÍNH THỨC DỰ ÁN ROSITA KHANG ĐIỀN</strong></span></p>

                            <p style="text-align:center"><span style="font-size:22px"><span style="color:rgb(255, 0, 0)"><strong>HOTLINE:</strong>&nbsp;<strong>0938 779 660</strong></span></span></p>

                            <p style="text-align:justify">&nbsp;</p>

                            <p style="text-align:justify">&nbsp;</p>
                        </div>
                    </div>
                </div>
                <div class="page-bottom">
                    <div class="share-link">
                        <div class="inner">
                            Share Link
                            <a target="_blank" rel="nofollow" href="https://plus.google.com/share?url=http%3A%2F%2Fsunlandsg.vn%2Ftin-tuc%2Frosita-garden-du-an-nha-2-khu-vuon-gia-tu-298-ty-dong-tai-tp-hcm"><span class="icon-google-plus-social-logotype"></span></a>
                            <a target="_blank" rel="nofollow" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fsunlandsg.vn%2Ftin-tuc%2Frosita-garden-du-an-nha-2-khu-vuon-gia-tu-298-ty-dong-tai-tp-hcm"><span class="icon-facebook-logo"></span></a>
                        </div>
                    </div>										<div class="box-slide-wraper">
                        <div class="title-news">
                            <h2 class="title-hot">Tin khác</h2>
                            <span class="span-hot"></span>
                        </div>
                        <div class="carousel-wrapper">
                            <div class="customNavigation">
                                <a class="btn prev  glyphicon glyphicon-menu-left"></a>
                                <a class="btn next glyphicon glyphicon-menu-right"></a>
                            </div>
                            <div class="owl-carousel owl-theme" style="opacity: 1; display: block;">
                                <div class="owl-wrapper-outer">
                                    <div class="owl-wrapper" style="width: 5700px; left: 0px; display: block;">
                                        <div class="owl-item" style="width: 285px;">
                                            <div class="item-wrapper">
                                                <a href="/tin-tuc/co-hoi-trung-ngay-honda-sh-khi-mua-block-a-jamila" class="item">
                                                    <div class="item-image"><img class="img-responsive" src="http://sunlandsg.vn/data/upload/image/post/thumb/chuong-trinh-ban-hang-can-ho-jamila_5971b2d128d97.jpg" alt="Cơ hội trúng ngay Honda SH khi mua Block A Jamila"></div>
                                                    <h3 class="item-title">Cơ hội trúng ngay Honda SH khi mua Block A Jamila</h3>
                                                    <div class="item-description">Dự án Jamila có tổng diện tích 1,7 ha, bao gồm 4 tòa nhà cao 25 tầng, được thiết kế theo phong cách của khu dân...</div>
                                                    <div class="item-bottom">
                                                        <span class="glyphicon glyphicon-time"></span>14h - 21/07/2017											<span class="corner">xem chi tiết</span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div><div class="owl-item" style="width: 285px;">
                                            <div class="item-wrapper">
                                                <a href="/tin-tuc/can-ho-new-city-quan-2-co-phai-can-ho-tai-dinh-cu" class="item">
                                                    <div class="item-image"><img class="img-responsive" src="http://sunlandsg.vn/data/upload/image/post/thumb/New-city_596d73edc96ce.jpg" alt="Căn hộ New City Quận 2 có phải căn hộ tái định cư?"></div>
                                                    <h3 class="item-title">Căn hộ New City Quận 2 có phải căn hộ tái định cư?</h3>
                                                    <div class="item-description">Gần đây có rất nhiều Sàn BĐS Rumor Dự án '1.330 căn hộ tái định cư - P. Bình Khánh - Quận 2, TP. Hồ Chí Minh'...</div>
                                                    <div class="item-bottom">
                                                        <span class="glyphicon glyphicon-time"></span>09h - 18/07/2017											<span class="corner">xem chi tiết</span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div><div class="owl-item" style="width: 285px;">
                                            <div class="item-wrapper">
                                                <a href="/tin-tuc/nhung-yeu-to-tao-nen-net-rieng-cho-du-an-rosita-garden" class="item">
                                                    <div class="item-image"><img class="img-responsive" src="http://sunlandsg.vn/data/upload/image/post/thumb/mau-nha-rosita-garden-LKG-4_595b4090463d6.jpg" alt="NHỮNG YẾU TỐ TẠO NÊN NÉT RIÊNG CHO DỰ ÁN ROSITA GARDEN"></div>
                                                    <h3 class="item-title">NHỮNG YẾU TỐ TẠO NÊN NÉT RIÊNG CHO DỰ ÁN ROSITA GARDEN</h3>
                                                    <div class="item-description">Rosita Garden Khang Điền là dự án nhà phố liên kế vườn, nằm trên khuôn viên đất rộng 3 ha với 118 căn nhà...</div>
                                                    <div class="item-bottom">
                                                        <span class="glyphicon glyphicon-time"></span>14h - 04/07/2017											<span class="corner">xem chi tiết</span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div><div class="owl-item" style="width: 285px;">
                                            <div class="item-wrapper">
                                                <a href="/tin-tuc/tp-ho-chi-minh-phe-duyet-du-an-monada-khang-dien" class="item">
                                                    <div class="item-image"><img class="img-responsive" src="http://sunlandsg.vn/data/upload/image/post/thumb/nha-pho-rosita-garden_5955c3c5b70eb.jpg" alt="TP. Hồ Chí Minh phê duyệt dự án Monada Khang Điền"></div>
                                                    <h3 class="item-title">TP. Hồ Chí Minh phê duyệt dự án Monada Khang Điền</h3>
                                                    <div class="item-description">Vừa qua, UBND thành phố đã đồng ý phê duyệt công nhận chủ đầu tư và chấp thuận đầu tư dự án khu nhà ở...</div>
                                                    <div class="item-bottom">
                                                        <span class="glyphicon glyphicon-time"></span>10h - 30/06/2017											<span class="corner">xem chi tiết</span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div><div class="owl-item" style="width: 285px;">
                                            <div class="item-wrapper">
                                                <a href="/tin-tuc/du-an-villa-park-so-huu-nhieu-cong-vien-cay-xanh-nhat-hien-nay-" class="item">
                                                    <div class="item-image"><img class="img-responsive" src="http://sunlandsg.vn/data/upload/image/post/thumb/villa-park-quan-9_(6)_5954aafc056cd.jpg" alt="Dự án Villa Park sở hữu nhiều công viên cây xanh nhất hiện nay "></div>
                                                    <h3 class="item-title">Dự án Villa Park sở hữu nhiều công viên cây xanh nhất hiện nay </h3>
                                                    <div class="item-description">Dự án Villa Park nằm phía Đông Sài Gòn là khu dự án duy nhất đã dành đến 50% diện tích cho việc xây dựng...</div>
                                                    <div class="item-bottom">
                                                        <span class="glyphicon glyphicon-time"></span>14h - 29/06/2017											<span class="corner">xem chi tiết</span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div><div class="owl-item" style="width: 285px;">
                                            <div class="item-wrapper">
                                                <a href="/tin-tuc/7-ly-do-nen-chon-mua-can-ho-vincity-quan-9" class="item">
                                                    <div class="item-image"><img class="img-responsive" src="http://sunlandsg.vn/data/upload/image/post/thumb/thump-vincity-quan-9_589ad4427ddab.jpg" alt="7 LÝ DO NÊN CHỌN MUA CĂN HỘ VINCITY QUẬN 9"></div>
                                                    <h3 class="item-title">7 LÝ DO NÊN CHỌN MUA CĂN HỘ VINCITY QUẬN 9</h3>
                                                    <div class="item-description">Vincity quận 9 là dự án căn hộ giá rẻ do Vingroup phát triển. Dự án tọa lạc tại mặt tiền đường Nguyễn...</div>
                                                    <div class="item-bottom">
                                                        <span class="glyphicon glyphicon-time"></span>13h - 29/06/2017											<span class="corner">xem chi tiết</span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div><div class="owl-item" style="width: 285px;">
                                            <div class="item-wrapper">
                                                <a href="/tin-tuc/jamila-can-ho-chuan-phong-cach-thiet-ke-singapore" class="item">
                                                    <div class="item-image"><img class="img-responsive" src="http://sunlandsg.vn/data/upload/image/post/thumb/nha-mau-can-ho-jamila_(3)_5940e9369c6ec.jpg" alt="Jamila – căn hộ chuẩn phong cách thiết kế Singapore"></div>
                                                    <h3 class="item-title">Jamila – căn hộ chuẩn phong cách thiết kế Singapore</h3>
                                                    <div class="item-description">Dự án Jamila Khang Điền hiện nay đang là một trong số những dự án được nhiều khách hàng và giới đầu tư...</div>
                                                    <div class="item-bottom">
                                                        <span class="glyphicon glyphicon-time"></span>14h - 14/06/2017											<span class="corner">xem chi tiết</span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div><div class="owl-item" style="width: 285px;">
                                            <div class="item-wrapper">
                                                <a href="/tin-tuc/so-huu-can-ho-jamila-lien-ke-quan-2-voi-600-trieu-dong" class="item">
                                                    <div class="item-image"><img class="img-responsive" src="http://sunlandsg.vn/data/upload/image/post/thumb/jamila-quan-9_(2)_592bf248d3341.jpg" alt="Sở hữu căn hộ Jamila liền kề quận 2 với 600 triệu đồng"></div>
                                                    <h3 class="item-title">Sở hữu căn hộ Jamila liền kề quận 2 với 600 triệu đồng</h3>
                                                    <div class="item-description">Khi thanh toán 600 triệu, khách hàng có thể được ký HĐMB để sở hữu căn hộ cao cấp Jamila có tầm nhìn hướng...</div>
                                                    <div class="item-bottom">
                                                        <span class="glyphicon glyphicon-time"></span>17h - 29/05/2017											<span class="corner">xem chi tiết</span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div><div class="owl-item" style="width: 285px;">
                                            <div class="item-wrapper">
                                                <a href="/tin-tuc/9-diem-nhat-cua-can-ho-jamila-khang-dien-quan-9" class="item">
                                                    <div class="item-image"><img class="img-responsive" src="http://sunlandsg.vn/data/upload/image/post/thumb/can-ho-jamila-khang-dien-q9(8)_5927a8929ebe2.jpg" alt="9 ĐIỂM “NHẤT” CỦA CĂN HỘ JAMILA KHANG ĐIỀN QUẬN 9"></div>
                                                    <h3 class="item-title">9 ĐIỂM “NHẤT” CỦA CĂN HỘ JAMILA KHANG ĐIỀN QUẬN 9</h3>
                                                    <div class="item-description">Căn hộ JAMILA KHANG ĐIỀN với Quy mô dự án gần 2ha - 4 Block với gần 900 căn hộ (25 tầng/Block). Loại trừ các...</div>
                                                    <div class="item-bottom">
                                                        <span class="glyphicon glyphicon-time"></span>11h - 26/05/2017											<span class="corner">xem chi tiết</span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div><div class="owl-item" style="width: 285px;">
                                            <div class="item-wrapper">
                                                <a href="/tin-tuc/mat-co-hoi-mua-jamila-hang-tram-khach-hang-nuoi-tiec-" class="item">
                                                    <div class="item-image"><img class="img-responsive" src="http://sunlandsg.vn/data/upload/image/post/thumb/Mo-ban-Jamila-Khang-Dien-Quan-9_(3)_5923a76807e26.jpg" alt="Mất cơ hội mua Jamila - hàng trăm khách hàng nuối tiếc "></div>
                                                    <h3 class="item-title">Mất cơ hội mua Jamila - hàng trăm khách hàng nuối tiếc </h3>
                                                    <div class="item-description">Ngày 21/5 vừa qua, tại trung tâm hội nghị khách sạn Sheraton, Gần 900 khách hàng đã có mặt tại Lễ công bố và...</div>
                                                    <div class="item-bottom">
                                                        <span class="glyphicon glyphicon-time"></span>14h - 23/05/2017											<span class="corner">xem chi tiết</span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>









                                <div class="owl-controls clickable"><div class="owl-pagination"><div class="owl-page active"><span class=""></span></div><div class="owl-page"><span class=""></span></div><div class="owl-page"><span class=""></span></div><div class="owl-page"><span class=""></span></div></div></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="box-search box-search-fixtop">
                    <div class="box-title">
                        Tìm kiếm tin tức
                    </div>
                    <div class="box-content">
                        <form role="form" action="/tim-kiem-tin-tuc" method="get">
                            <input type="text" name="s" id="s" placeholder="Nhập tin cần tìm" class="form-control">
                            <button type="submit" class="btn btn-block">Tìm kiếm</button>
                        </form>
                    </div>
                </div>
                <div class="box-sidebar box-category">
                    <div class="box-title">
                        danh mục tin tức
                    </div>
                    <div class="box-content">
                        <ul>
                            <li class=""><a href="/tin-tuc/danh-muc-tin-tuc?category_id=1">Tin phong thủy</a></li>
                            <li class=""><a href="/tin-tuc/danh-muc-tin-tuc?category_id=4">Tin Thị Trường</a></li>
                            <li class="active"><a href="/tin-tuc/danh-muc-tin-tuc?category_id=5">Tin Dự Án</a></li>
                            <li class=""><a href="/tin-tuc/danh-muc-tin-tuc?category_id=6">Tuyển Dụng</a></li>
                            <li class=""><a href="/tin-tuc/danh-muc-tin-tuc?category_id=7">Sưu tầm</a></li>
                            <li class=""><a href="/tin-tuc/danh-muc-tin-tuc?category_id=8">Nhà Cửa - Đời Sống</a></li>
                            <li class=""><a href="/tin-tuc/danh-muc-tin-tuc?category_id=9">Bản tin SunlandSG</a></li>
                        </ul>
                    </div>
                </div>
                <div class="event-box">
                    <div class="ads-r">
                        <h4>Đăng ký<br> nhận tin bất động sản</h4>

                        <div class="box-input">
                            <form id="realRegForm" action="/frontend/ajax/save-contact" method="post">
                                <input type="hidden" name="_csrf" value="Z25xLmtuMFE/XTBBES1gPgEgNBkkJQUILSMDdigvdAkgPgNmWidqKw=="><div class="form-group field-frontcontact-name required">
                                    <input type="text" id="frontcontact-name" class="form-control" name="FrontContact[name]" placeholder="Họ và tên"><span class="help-block"><div class="help-block"></div></span>
                                </div><div class="form-group field-frontcontact-phone required">
                                    <input type="text" id="frontcontact-phone" class="form-control" name="FrontContact[phone]" placeholder="Số điện thoại"><span class="help-block"><div class="help-block"></div></span>
                                </div><div class="form-group field-frontcontact-email required">
                                    <input type="text" id="frontcontact-email" class="form-control" name="FrontContact[email]" placeholder="Email"><span class="help-block"><div class="help-block"></div></span>
                                </div><div class="form-group field-frontcontact-type">

                                    <input type="hidden" id="frontcontact-type" class="form-control" name="FrontContact[type]" value="5">

                                    <div class="help-block"></div>
                                </div><div class="form-group field-frontcontact-object_id">

                                    <input type="hidden" id="frontcontact-object_id" class="form-control" name="FrontContact[object_id]">

                                    <div class="help-block"></div>
                                </div><div class="form-group field-frontcontact-item_name">

                                    <input type="hidden" id="frontcontact-item_name" class="form-control" name="FrontContact[item_name]">

                                    <div class="help-block"></div>
                                </div>    	<div class="form-group">
                                    <button type="submit" class="">Đăng ký</button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="ads-banner">
                        <div class="item">
                            <a href="http://sunlandsg.vn/du-an/lucasta/mat-bang" target="_blank">
                                <img class="img-responsive" src="http://sunlandsg.vn/data/upload/image/banner/hanh-phuc-gia-bao-nhieu_57e4c604d5bd9.gif" alt="LUCASTA - HẠNH PHÚC GIÁ BAO NHIÊU?">
                            </a>
                        </div>
                        <div class="item">
                            <a href="http://sunlandsg.vn/du-an/can-ho-jamila/gioi-thieu" target="_blank">
                                <img class="img-responsive" src="http://sunlandsg.vn/data/upload/image/banner/Jamila_Right_Banner1_58f86e0ca90ad.gif" alt="MỞ BÁN CĂN HỘ JAMILA KHANG ĐIỀN QUẬN 9 - MẶT TIỀN SONG HÀNH - CHỈ TỪ 22.5TR/M2">
                            </a>
                        </div>
                        <div class="item">
                            <a href="http://sunlandsg.vn/du-an/can-ho-jamila/gioi-thieu" target="_blank">
                                <img class="img-responsive" src="http://sunlandsg.vn/data/upload/image/banner/Jamila_Right_Banner4_58f86f0ad7ace.gif" alt="Căn hộ mặt tiền Song hành Quận 9 - mở bán chính thức 14,5tr/m2 - SunlandSG Phân phối chính thức">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>