@{
}

<section class="head-bg-bottom">
    <div class="container">
        <h2>Tin bất động sản</h2>
    </div>
</section>

<section class="content-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="news-list news-hot">
                    <div class="title-news">
                        <h2 class="title-hot">Tin tức nổi bật</h2>
                        <span class="span-hot"></span>
                    </div>
                    <div class="box-content">
                        <div class="row gutter-0">
                            <div class="col-sm-8">
                                <a href="/tin-tuc/rosita-garden-du-an-nha-2-khu-vuon-gia-tu-298-ty-dong-tai-tp-hcm" class="item-hot item-hot-lv1" style="background-image:url('http://sunlandsg.vn/data/upload/image/post/thumb/rosita-garden-khang-dien_(6)_597abf94f343c.jpg')">
                                    <div class="item-info">
                                        <h3 class="item-title">Rosita Garden _dự án nhà 2 khu vườn giá từ 2,98 tỷ đồng tại TP HCM</h3>
                                        <div class="item-description"> Rosita Garden Khang Điền tọa lạc tại đường 990 (cách Nguyễn Duy Trinh 500m), cách vòng xoay Phú Hữu 1,5km. Dự án có mô hình VƯỜN - NHÀ - VƯỜN, gồm một trệt, hai lầu, hai sân vườn được thiết kế hiện với không gian sống xanh.</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-sm-4">
                                <a href="/tin-tuc/can-ho-new-city-quan-2-co-phai-can-ho-tai-dinh-cu" class="item-hot item-hot-lv2" style="background-image:url('http://sunlandsg.vn/data/upload/image/post/thumb/New-city_596d73edc96ce.jpg')">
                                    <div class="item-info">
                                        <h3 class="item-title">Căn hộ New City Quận 2 có phải căn hộ tái định cư?</h3>
                                    </div>
                                </a>
                                <a href="/tin-tuc/nhung-yeu-to-tao-nen-net-rieng-cho-du-an-rosita-garden" class="item-hot item-hot-lv2" style="background-image:url('http://sunlandsg.vn/data/upload/image/post/thumb/mau-nha-rosita-garden-LKG-4_595b4090463d6.jpg')">
                                    <div class="item-info">
                                        <h3 class="item-title">NHỮNG YẾU TỐ TẠO NÊN NÉT RIÊNG CHO DỰ ÁN ROSITA GARDEN</h3>
                                    </div>
                                </a>
                                <a href="/tin-tuc/jamila-can-ho-chuan-phong-cach-thiet-ke-singapore" class="item-hot item-hot-lv2" style="background-image:url('http://sunlandsg.vn/data/upload/image/post/thumb/nha-mau-can-ho-jamila_(3)_5940e9369c6ec.jpg')">
                                    <div class="item-info">
                                        <h3 class="item-title">Jamila – căn hộ chuẩn phong cách thiết kế Singapore</h3>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- project-2-->
                <div class="box-slide-wraper">
                    <div class="title-news">
                        <h2 class="title-hot">Tin phong thủy</h2>
                        <span class="span-hot"></span>
                    </div>
                    <div class="carousel-wrapper">
                        <div class="customNavigation">
                            <a class="btn prev  glyphicon glyphicon-menu-left"></a>
                            <a class="btn next glyphicon glyphicon-menu-right"></a>
                        </div>
                        <div class="owl-carousel owl-theme" style="opacity: 1; display: block;">
                            <div class="owl-wrapper-outer">
                                <div class="owl-wrapper" style="width: 5700px; left: 0px; display: block;">
                                    <div class="owl-item" style="width: 285px;">
                                        <div class="item-wrapper">
                                            <a href="/tin-tuc/dao-kim-cuong-co-vi-the-vuong-khi-nhat-trong-chu-ky-phong-thuy-tu-nam-2004-den-2080" class="item">
                                                <div class="item-image"><img class="img-responsive" src="http://sunlandsg.vn/data/upload/image/post/thumb/phong-thuy-dao-kim-cuong_5803416f39791.jpg"></div>
                                                <h3 class="item-title"> Đảo Kim Cương có vị thế vượng khí nhất trong chu kỳ phong thủy từ năm 2004 đến 2080</h3>
                                                <div class="item-description">Theo các nhà phong thủy, nếp sông uốn lượn quanh khu vực tạo nên hình dáng một con rồng đang ngẩng cao đầu và...</div>
                                                <div class="item-bottom">
                                                    <span class="glyphicon glyphicon-time"></span>17h - 16/12/2016												<span class="corner">xem chi tiết</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div><div class="owl-item" style="width: 285px;">
                                        <div class="item-wrapper">
                                            <a href="/tin-tuc/nhung-loai-cay-trong-trong-nha-hop-phong-thuy-tranh-oi-buc-ngay-he" class="item">
                                                <div class="item-image"><img class="img-responsive" src="http://sunlandsg.vn/data/upload/image/post/thumb/phong-thuycafeland-1465904310_576b545a2423d.jpg"></div>
                                                <h3 class="item-title">Những loại cây trồng trong nhà hợp phong thủy, tránh oi bức ngày hè </h3>
                                                <div class="item-description">Theo phong thủy, một số loài cây trồng trong nhà không chỉ có tác dụng trang trí và tạo cảm giác tươi mát,...</div>
                                                <div class="item-bottom">
                                                    <span class="glyphicon glyphicon-time"></span>10h - 23/06/2016												<span class="corner">xem chi tiết</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div><div class="owl-item" style="width: 285px;">
                                        <div class="item-wrapper">
                                            <a href="/tin-tuc/nha-huong-dong-co-tot-khong" class="item">
                                                <div class="item-image"><img class="img-responsive" src="http://sunlandsg.vn/data/upload/image/post/thumb/nhahuongdongcototkhong1giadinhonline611146_576b4b86e25b2.jpg"></div>
                                                <h3 class="item-title">Nhà hướng đông có tốt không</h3>
                                                <div class="item-description">
                                                    Nhà hướng Đông có tốt không là câu hỏi được nhiều người quan tâm.
                                                    Theo phong vị, hướng Đông là hướng...
                                                </div>
                                                <div class="item-bottom">
                                                    <span class="glyphicon glyphicon-time"></span>09h - 23/06/2016												<span class="corner">xem chi tiết</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div><div class="owl-item" style="width: 285px;">
                                        <div class="item-wrapper">
                                            <a href="/tin-tuc/trong-cay-to-canh-nha-se-khien-tien-vao-nhu-nuoc" class="item">
                                                <div class="item-image"><img class="img-responsive" src="http://sunlandsg.vn/data/upload/image/post/thumb/qua-tang-cuoc-song-10-meo-phong-thuy-don-gian-khien-tien-vao-nhu-nuoc2-1460335288226_576b46f85c05a.jpg"></div>
                                                <h3 class="item-title">Trồng cây to cạnh nhà sẽ khiến tiền vào như nước</h3>
                                                <div class="item-description">Muốn tài chính vững vàng, hãy trồng nhiều cây to và tán rộng ở phía Tây Nam của ngôi nhà. Cây ở khu vực này...</div>
                                                <div class="item-bottom">
                                                    <span class="glyphicon glyphicon-time"></span>09h - 23/06/2016												<span class="corner">xem chi tiết</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div><div class="owl-item" style="width: 285px;">
                                        <div class="item-wrapper">
                                            <a href="/tin-tuc/10-sai-lam-phong-thuy-khien-ban-lam-mai-cung-khong-giau" class="item">
                                                <div class="item-image"><img class="img-responsive" src="http://sunlandsg.vn/data/upload/image/post/thumb/thump_576b41af14ca9.jpg"></div>
                                                <h3 class="item-title">10 sai lầm phong thủy khiến bạn làm mãi cũng không giàu </h3>
                                                <div class="item-description">Đặt cây chết trong nhà, để tiền lung tung, giường kê sát tường, tích trữ quá nhiều nước... là những sai...</div>
                                                <div class="item-bottom">
                                                    <span class="glyphicon glyphicon-time"></span>08h - 23/06/2016												<span class="corner">xem chi tiết</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div><div class="owl-item" style="width: 285px;">
                                        <div class="item-wrapper">
                                            <a href="/tin-tuc/trong-10-loai-cay-nay-trong-phong-khach-ban-se-nhanh-chong-phat-tai" class="item">
                                                <div class="item-image"><img class="img-responsive" src="http://sunlandsg.vn/data/upload/image/post/thumb/cay-phat-du-1462154743969_576a0e0d077e9.jpg"></div>
                                                <h3 class="item-title">Trồng 10 loại cây này trong phòng khách, bạn sẽ nhanh chóng phát tài </h3>
                                                <div class="item-description">Phòng khách là nơi tụ khí của căn nhà. Vì vậy, cây cảnh để trồng trong phòng khách phải được lựa chọn...</div>
                                                <div class="item-bottom">
                                                    <span class="glyphicon glyphicon-time"></span>11h - 22/06/2016												<span class="corner">xem chi tiết</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div><div class="owl-item" style="width: 285px;">
                                        <div class="item-wrapper">
                                            <a href="/tin-tuc/10-hieu-lam-phong-thuy-nha-o-thuong-gap" class="item">
                                                <div class="item-image"><img class="img-responsive" src="http://sunlandsg.vn/data/upload/image/post/thumb/1417598318-interior-design-koi-fish-pond-design-with-natural-stone-indoor-ideas-1000x750-1462324392126_576a070471ef1.jpg"></div>
                                                <h3 class="item-title">10 hiểu lầm phong thủy nhà ở thường gặp </h3>
                                                <div class="item-description">Phong thủy đã gắn bó với đời sống con người hàng nghìn năm. Ngày nay, nó càng có gia strij áp dụng trong thiết...</div>
                                                <div class="item-bottom">
                                                    <span class="glyphicon glyphicon-time"></span>10h - 22/06/2016												<span class="corner">xem chi tiết</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div><div class="owl-item" style="width: 285px;">
                                        <div class="item-wrapper">
                                            <a href="/tin-tuc/nhung-vi-tri-trong-cay-phong-thuy-hut-tai-loc" class="item">
                                                <div class="item-image"><img class="img-responsive" src="http://sunlandsg.vn/data/upload/image/post/thumb/img20160108165521346_5769ff3200639.jpg"></div>
                                                <h3 class="item-title">Những vị trí trồng cây phong thủy hút tài lộc </h3>
                                                <div class="item-description">Trên thực tế không phải ai cũng hiểu hết những giá trị của cây cũng như phong thủy cây cảnh để có thể...</div>
                                                <div class="item-bottom">
                                                    <span class="glyphicon glyphicon-time"></span>10h - 22/06/2016												<span class="corner">xem chi tiết</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div><div class="owl-item" style="width: 285px;">
                                        <div class="item-wrapper">
                                            <a href="/tin-tuc/nha-co-qua-nhieu-cua-so-de-hao-tai-tan-loc" class="item">
                                                <div class="item-image"><img class="img-responsive" src="http://sunlandsg.vn/data/upload/image/post/thumb/thump_5769f4dec0cd4.jpg"></div>
                                                <h3 class="item-title">Nhà có quá nhiều cửa sổ dễ hao tài tàn lộc </h3>
                                                <div class="item-description">Cửa sổ là nơi quan trọng để giữ gió và khí, là nơi đón vượng khí mang lại năng lượng tươi mới cho ngôi...</div>
                                                <div class="item-bottom">
                                                    <span class="glyphicon glyphicon-time"></span>09h - 22/06/2016												<span class="corner">xem chi tiết</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div><div class="owl-item" style="width: 285px;">
                                        <div class="item-wrapper">
                                            <a href="/tin-tuc/mach-ban-nhung-meo-bo-tri-phong-khach-khong-phai-ai-cung-biet" class="item">
                                                <div class="item-image"><img class="img-responsive" src="http://sunlandsg.vn/data/upload/image/post/thumb/a0-1468805471818_5768c31a1390e.jpg"></div>
                                                <h3 class="item-title">Mách bạn những mẹo bố trí phòng khách không phải ai cũng biết </h3>
                                                <div class="item-description">Không gian phòng khách không phải là nơi bạn thích trang trí thế nào cũng được, tất cả những đồ nội thất...</div>
                                                <div class="item-bottom">
                                                    <span class="glyphicon glyphicon-time"></span>11h - 21/06/2016												<span class="corner">xem chi tiết</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>









                            <div class="owl-controls clickable"><div class="owl-pagination"><div class="owl-page active"><span class=""></span></div><div class="owl-page"><span class=""></span></div><div class="owl-page"><span class=""></span></div><div class="owl-page"><span class=""></span></div></div></div>
                        </div>
                    </div>
                </div>
                <div class="box-slide-wraper">
                    <div class="title-news">
                        <h2 class="title-hot">Tin Thị Trường</h2>
                        <span class="span-hot"></span>
                    </div>
                    <div class="carousel-wrapper">
                        <div class="customNavigation">
                            <a class="btn prev  glyphicon glyphicon-menu-left"></a>
                            <a class="btn next glyphicon glyphicon-menu-right"></a>
                        </div>
                        <div class="owl-carousel owl-theme" style="opacity: 1; display: block;">
                            <div class="owl-wrapper-outer">
                                <div class="owl-wrapper" style="width: 5700px; left: 0px; display: block;">
                                    <div class="owl-item" style="width: 285px;">
                                        <div class="item-wrapper">
                                            <a href="/tin-tuc/tiem-nang-phat-trien-duong-song-hanh-o-khu-dong-sai-gon" class="item">
                                                <div class="item-image"><img class="img-responsive" src="http://sunlandsg.vn/data/upload/image/post/thumb/can-ho-jamila-quan-9_(1)_5927a846c85ea.jpg"></div>
                                                <h3 class="item-title">Tiềm năng phát triển đường Song Hành ở khu Đông Sài Gòn</h3>
                                                <div class="item-description">Các dự án sở hữu vị trí tại mặt tiền đường Song Hành như dự án Jamila, biệt thự Venica… do chủ đầu tư...</div>
                                                <div class="item-bottom">
                                                    <span class="glyphicon glyphicon-time"></span>13h - 29/06/2017												<span class="corner">xem chi tiết</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div><div class="owl-item" style="width: 285px;">
                                        <div class="item-wrapper">
                                            <a href="/tin-tuc/jamila-can-ho-tien-ich-cao-cap-gia-re" class="item">
                                                <div class="item-image"><img class="img-responsive" src="http://sunlandsg.vn/data/upload/image/post/thumb/jamila-quan-9_(3)_5927a8cb97a66.jpg"></div>
                                                <h3 class="item-title">JAMILA - Căn hộ tiện ích cao cấp giá rẻ</h3>
                                                <div class="item-description">Căn hộ Jamila Khang Điền mang đến một trải nghiệm khác về tiện ích xanh với 2 mặt giáp 2.000m2 sông cùng 7000m2...</div>
                                                <div class="item-bottom">
                                                    <span class="glyphicon glyphicon-time"></span>11h - 26/05/2017												<span class="corner">xem chi tiết</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div><div class="owl-item" style="width: 285px;">
                                        <div class="item-wrapper">
                                            <a href="/tin-tuc/phai-chang-khang-dien-ruc-rich-tan-cong-thi-truong-can-ho" class="item">
                                                <div class="item-image"><img class="img-responsive" src="http://sunlandsg.vn/data/upload/image/post/thumb/can-ho-jamila-khang-dien_(1)_58eaf269907ca.jpg"></div>
                                                <h3 class="item-title">Phải chăng Khang Điền rục rịch tấn công thị trường căn hộ ?</h3>
                                                <div class="item-description">Dự án căn hộ JAMILA Khang Điền với 3 mặt tiếp giáp sông tọa lạc tại vị trí đắc địa với 2 mặt tiền...</div>
                                                <div class="item-bottom">
                                                    <span class="glyphicon glyphicon-time"></span>09h - 10/04/2017												<span class="corner">xem chi tiết</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div><div class="owl-item" style="width: 285px;">
                                        <div class="item-wrapper">
                                            <a href="/tin-tuc/khang-dien-bat-dau-tan-cong-phan-khuc-can-ho-bang-du-an-chung-cu-jamila" class="item">
                                                <div class="item-image"><img class="img-responsive" src="http://sunlandsg.vn/data/upload/image/post/thumb/can-ho-jamila-khang-dien_(2)_58eaf249e89ae.jpg"></div>
                                                <h3 class="item-title">KHANG ĐIỀN BẮT ĐẦU TẤN CÔNG PHÂN KHÚC CĂN HỘ BẰNG DỰ ÁN CHUNG CƯ JAMILA</h3>
                                                <div class="item-description">Dự án chung cư JAMILA Khang Điền tọa lại tại mặt tiền đường Song Hành với cao tốc TP. Hồ Chí Minh – Long...</div>
                                                <div class="item-bottom">
                                                    <span class="glyphicon glyphicon-time"></span>09h - 10/04/2017												<span class="corner">xem chi tiết</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div><div class="owl-item" style="width: 285px;">
                                        <div class="item-wrapper">
                                            <a href="/tin-tuc/khang-dien-se-duyen-voi-thi-truong-chung-cu-quan-9" class="item">
                                                <div class="item-image"><img class="img-responsive" src="http://sunlandsg.vn/data/upload/image/post/thumb/can-ho-jamila-khang-dien_(4)_58eaf22c99cc3.jpg"></div>
                                                <h3 class="item-title">Khang Điền "se duyên" với thị trường chung cư quận 9</h3>
                                                <div class="item-description">Dự án căn hộ Jamila Khang Điền có vị trí đắc địa, nằm ngay mặt tiền đường Song Hành với cao tốc TP.HCM -...</div>
                                                <div class="item-bottom">
                                                    <span class="glyphicon glyphicon-time"></span>09h - 10/04/2017												<span class="corner">xem chi tiết</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div><div class="owl-item" style="width: 285px;">
                                        <div class="item-wrapper">
                                            <a href="/tin-tuc/gioi-dau-tu-do-xo-san-lung-biet-thu-khu-dong-sai-gon" class="item">
                                                <div class="item-image"><img class="img-responsive" src="http://sunlandsg.vn/data/upload/image/post/thumb/Lucasta-(8)_58b8ef1f68c8b.jpg"></div>
                                                <h3 class="item-title">Giới đầu tư đổ xô săn lùng biệt thự khu Đông Sài Gòn</h3>
                                                <div class="item-description">Hệ thống cơ sở hạ tầng khu Đông Sài Gòn đang ngày càng trở lên hoàn thiện hơn đã biến khu vực này trở...</div>
                                                <div class="item-bottom">
                                                    <span class="glyphicon glyphicon-time"></span>11h - 03/03/2017												<span class="corner">xem chi tiết</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div><div class="owl-item" style="width: 285px;">
                                        <div class="item-wrapper">
                                            <a href="/tin-tuc/khang-dien-mua-lai-co-phan-cong-ty-binh-chanh-toan-tinh-xay-dung-du-an-binh-chanh" class="item">
                                                <div class="item-image"><img class="img-responsive" src="http://sunlandsg.vn/data/upload/image/post/thumb/mega-village-khang-dien_58a56b9a7e9b2.jpg"></div>
                                                <h3 class="item-title">Khang Điền mua lại cổ phẩn công ty Bình Chánh, toan tính xây dựng dự án Bình Chánh</h3>
                                                <div class="item-description">Khang Điền chính thức lấn sân sang thị trường BĐS phía Tây Năm bằng việc thâu tóm công ty Bình Chánh. tham...</div>
                                                <div class="item-bottom">
                                                    <span class="glyphicon glyphicon-time"></span>09h - 20/02/2017												<span class="corner">xem chi tiết</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div><div class="owl-item" style="width: 285px;">
                                        <div class="item-wrapper">
                                            <a href="/tin-tuc/vingroup-ra-mat-dong-san-pham-bat-dong-san-vincity-gia-700-trieu-dong-can" class="item">
                                                <div class="item-image"><img class="img-responsive" src="http://sunlandsg.vn/data/upload/image/post/thumb/du-an-VinCity_(2)_584a62b7485b4.jpg"></div>
                                                <h3 class="item-title">Vingroup ra mắt dòng sản phẩm bất động sản VinCity giá 700 triệu đồng/căn</h3>
                                                <div class="item-description">Mới đây, ngày 3/12/2016, tập đoàn Vingroup đã chính thức ra mắt thị trường dòng sản phẩm bất động sản...</div>
                                                <div class="item-bottom">
                                                    <span class="glyphicon glyphicon-time"></span>16h - 13/02/2017												<span class="corner">xem chi tiết</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div><div class="owl-item" style="width: 285px;">
                                        <div class="item-wrapper">
                                            <a href="/tin-tuc/vincity-buoc-ngoac-tan-cong-phan-khuc-nha-o-gia-thap-cua-vingroup" class="item">
                                                <div class="item-image"><img class="img-responsive" src="http://sunlandsg.vn/data/upload/image/post/thumb/VINCITY-CAN-HO-GIA-RE-QUAN-9_584faacc9db10.jpg"></div>
                                                <h3 class="item-title">VinCity bước ngoặc tấn công phân khúc nhà ở giá thấp của VinGroup</h3>
                                                <div class="item-description">Dự án VinCity Quận 9 tọa lạc mặt tiền đường Nguyễn Xiển khu vực vị trí trung tâm của Quận 9 đắt giá...</div>
                                                <div class="item-bottom">
                                                    <span class="glyphicon glyphicon-time"></span>16h - 13/02/2017												<span class="corner">xem chi tiết</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div><div class="owl-item" style="width: 285px;">
                                        <div class="item-wrapper">
                                            <a href="/tin-tuc/xu-huong-lua-chon-biet-thu-moi-cua-nguoi-thanh-dat" class="item">
                                                <div class="item-image"><img class="img-responsive" src="http://sunlandsg.vn/data/upload/image/post/thumb/thump-lucata-quan-9-2_57c017f632d92.gif"></div>
                                                <h3 class="item-title">XU HƯỚNG LỰA CHỌN BIỆT THỰ MỚI CỦA NGƯỜI THÀNH ĐẠT</h3>
                                                <div class="item-description">Một bộ phận những người thành đạt nay lại có xu hướng chọn biệt thự yên tĩnh ở vùng ven nhưng không quá...</div>
                                                <div class="item-bottom">
                                                    <span class="glyphicon glyphicon-time"></span>17h - 16/12/2016												<span class="corner">xem chi tiết</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>









                            <div class="owl-controls clickable"><div class="owl-pagination"><div class="owl-page active"><span class=""></span></div><div class="owl-page"><span class=""></span></div><div class="owl-page"><span class=""></span></div><div class="owl-page"><span class=""></span></div></div></div>
                        </div>
                    </div>
                </div>
                <div class="box-slide-wraper">
                    <div class="title-news">
                        <h2 class="title-hot">Tin Dự Án</h2>
                        <span class="span-hot"></span>
                    </div>
                    <div class="carousel-wrapper">
                        <div class="customNavigation">
                            <a class="btn prev  glyphicon glyphicon-menu-left"></a>
                            <a class="btn next glyphicon glyphicon-menu-right"></a>
                        </div>
                        <div class="owl-carousel owl-theme" style="opacity: 1; display: block;">
                            <div class="owl-wrapper-outer">
                                <div class="owl-wrapper" style="width: 5700px; left: 0px; display: block;">
                                    <div class="owl-item" style="width: 285px;">
                                        <div class="item-wrapper">
                                            <a href="/tin-tuc/co-hoi-trung-ngay-honda-sh-khi-mua-block-a-jamila" class="item">
                                                <div class="item-image"><img class="img-responsive" src="http://sunlandsg.vn/data/upload/image/post/thumb/chuong-trinh-ban-hang-can-ho-jamila_5971b2d128d97.jpg"></div>
                                                <h3 class="item-title">Cơ hội trúng ngay Honda SH khi mua Block A Jamila</h3>
                                                <div class="item-description">Dự án Jamila có tổng diện tích 1,7 ha, bao gồm 4 tòa nhà cao 25 tầng, được thiết kế theo phong cách của khu dân...</div>
                                                <div class="item-bottom">
                                                    <span class="glyphicon glyphicon-time"></span>14h - 21/07/2017												<span class="corner">xem chi tiết</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div><div class="owl-item" style="width: 285px;">
                                        <div class="item-wrapper">
                                            <a href="/tin-tuc/tp-ho-chi-minh-phe-duyet-du-an-monada-khang-dien" class="item">
                                                <div class="item-image"><img class="img-responsive" src="http://sunlandsg.vn/data/upload/image/post/thumb/nha-pho-rosita-garden_5955c3c5b70eb.jpg"></div>
                                                <h3 class="item-title">TP. Hồ Chí Minh phê duyệt dự án Monada Khang Điền</h3>
                                                <div class="item-description">Vừa qua, UBND thành phố đã đồng ý phê duyệt công nhận chủ đầu tư và chấp thuận đầu tư dự án khu nhà ở...</div>
                                                <div class="item-bottom">
                                                    <span class="glyphicon glyphicon-time"></span>10h - 30/06/2017												<span class="corner">xem chi tiết</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div><div class="owl-item" style="width: 285px;">
                                        <div class="item-wrapper">
                                            <a href="/tin-tuc/du-an-villa-park-so-huu-nhieu-cong-vien-cay-xanh-nhat-hien-nay-" class="item">
                                                <div class="item-image"><img class="img-responsive" src="http://sunlandsg.vn/data/upload/image/post/thumb/villa-park-quan-9_(6)_5954aafc056cd.jpg"></div>
                                                <h3 class="item-title">Dự án Villa Park sở hữu nhiều công viên cây xanh nhất hiện nay </h3>
                                                <div class="item-description">Dự án Villa Park nằm phía Đông Sài Gòn là khu dự án duy nhất đã dành đến 50% diện tích cho việc xây dựng...</div>
                                                <div class="item-bottom">
                                                    <span class="glyphicon glyphicon-time"></span>14h - 29/06/2017												<span class="corner">xem chi tiết</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div><div class="owl-item" style="width: 285px;">
                                        <div class="item-wrapper">
                                            <a href="/tin-tuc/7-ly-do-nen-chon-mua-can-ho-vincity-quan-9" class="item">
                                                <div class="item-image"><img class="img-responsive" src="http://sunlandsg.vn/data/upload/image/post/thumb/thump-vincity-quan-9_589ad4427ddab.jpg"></div>
                                                <h3 class="item-title">7 LÝ DO NÊN CHỌN MUA CĂN HỘ VINCITY QUẬN 9</h3>
                                                <div class="item-description">Vincity quận 9 là dự án căn hộ giá rẻ do Vingroup phát triển. Dự án tọa lạc tại mặt tiền đường Nguyễn...</div>
                                                <div class="item-bottom">
                                                    <span class="glyphicon glyphicon-time"></span>13h - 29/06/2017												<span class="corner">xem chi tiết</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div><div class="owl-item" style="width: 285px;">
                                        <div class="item-wrapper">
                                            <a href="/tin-tuc/so-huu-can-ho-jamila-lien-ke-quan-2-voi-600-trieu-dong" class="item">
                                                <div class="item-image"><img class="img-responsive" src="http://sunlandsg.vn/data/upload/image/post/thumb/jamila-quan-9_(2)_592bf248d3341.jpg"></div>
                                                <h3 class="item-title">Sở hữu căn hộ Jamila liền kề quận 2 với 600 triệu đồng</h3>
                                                <div class="item-description">Khi thanh toán 600 triệu, khách hàng có thể được ký HĐMB để sở hữu căn hộ cao cấp Jamila có tầm nhìn hướng...</div>
                                                <div class="item-bottom">
                                                    <span class="glyphicon glyphicon-time"></span>17h - 29/05/2017												<span class="corner">xem chi tiết</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div><div class="owl-item" style="width: 285px;">
                                        <div class="item-wrapper">
                                            <a href="/tin-tuc/9-diem-nhat-cua-can-ho-jamila-khang-dien-quan-9" class="item">
                                                <div class="item-image"><img class="img-responsive" src="http://sunlandsg.vn/data/upload/image/post/thumb/can-ho-jamila-khang-dien-q9(8)_5927a8929ebe2.jpg"></div>
                                                <h3 class="item-title">9 ĐIỂM “NHẤT” CỦA CĂN HỘ JAMILA KHANG ĐIỀN QUẬN 9</h3>
                                                <div class="item-description">Căn hộ JAMILA KHANG ĐIỀN với Quy mô dự án gần 2ha - 4 Block với gần 900 căn hộ (25 tầng/Block). Loại trừ các...</div>
                                                <div class="item-bottom">
                                                    <span class="glyphicon glyphicon-time"></span>11h - 26/05/2017												<span class="corner">xem chi tiết</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div><div class="owl-item" style="width: 285px;">
                                        <div class="item-wrapper">
                                            <a href="/tin-tuc/mat-co-hoi-mua-jamila-hang-tram-khach-hang-nuoi-tiec-" class="item">
                                                <div class="item-image"><img class="img-responsive" src="http://sunlandsg.vn/data/upload/image/post/thumb/Mo-ban-Jamila-Khang-Dien-Quan-9_(3)_5923a76807e26.jpg"></div>
                                                <h3 class="item-title">Mất cơ hội mua Jamila - hàng trăm khách hàng nuối tiếc </h3>
                                                <div class="item-description">Ngày 21/5 vừa qua, tại trung tâm hội nghị khách sạn Sheraton, Gần 900 khách hàng đã có mặt tại Lễ công bố và...</div>
                                                <div class="item-bottom">
                                                    <span class="glyphicon glyphicon-time"></span>14h - 23/05/2017												<span class="corner">xem chi tiết</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div><div class="owl-item" style="width: 285px;">
                                        <div class="item-wrapper">
                                            <a href="/tin-tuc/vi-sao-nen-lua-chon-du-an-park-riverside" class="item">
                                                <div class="item-image"><img class="img-responsive" src="http://sunlandsg.vn/data/upload/image/post/thumb/park-riverside_(7)_591abe9e29b1a.jpg"></div>
                                                <h3 class="item-title">Vì sao nên lựa chọn dự án Park Riverside?</h3>
                                                <div class="item-description">Park Riverside được đảm bảo an ninh bằng việc sử dụng hệ thống an ninh kiểu Mỹ, trang bị camera quan sát tân...</div>
                                                <div class="item-bottom">
                                                    <span class="glyphicon glyphicon-time"></span>15h - 16/05/2017												<span class="corner">xem chi tiết</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div><div class="owl-item" style="width: 285px;">
                                        <div class="item-wrapper">
                                            <a href="/tin-tuc/du-an-dao-kim-cuong" class="item">
                                                <div class="item-image"><img class="img-responsive" src="http://sunlandsg.vn/data/upload/image/post/thumb/dao-kim-cuong_591569bc8946e.jpg"></div>
                                                <h3 class="item-title">Dự án đảo Kim Cương</h3>
                                                <div class="item-description">Căn hộ Diamond Island Quận 2 với điểm nhấn độc đáo và khác biệt khi có 3 mặt giáp sông, là dự án căn hộ...</div>
                                                <div class="item-bottom">
                                                    <span class="glyphicon glyphicon-time"></span>14h - 12/05/2017												<span class="corner">xem chi tiết</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div><div class="owl-item" style="width: 285px;">
                                        <div class="item-wrapper">
                                            <a href="/tin-tuc/khong-gian-song-resort-tai-park-riverside" class="item">
                                                <div class="item-image"><img class="img-responsive" src="http://sunlandsg.vn/data/upload/image/post/thumb/phoi-canh-du-an-park-riverside_(2)_590fe50b98c85.jpg"></div>
                                                <h3 class="item-title">Không gian sống resort tại Park Riverside</h3>
                                                <div class="item-description">Park Riverside là dự án đầu tiên tại khu Đông quy hoạch 2 hồ điều tiết rộng lớn, mang lại không gian xanh mát,...</div>
                                                <div class="item-bottom">
                                                    <span class="glyphicon glyphicon-time"></span>10h - 08/05/2017												<span class="corner">xem chi tiết</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>









                            <div class="owl-controls clickable"><div class="owl-pagination"><div class="owl-page active"><span class=""></span></div><div class="owl-page"><span class=""></span></div><div class="owl-page"><span class=""></span></div><div class="owl-page"><span class=""></span></div></div></div>
                        </div>
                    </div>
                </div>
                <div class="box-slide-wraper">
                    <div class="title-news">
                        <h2 class="title-hot">Tuyển Dụng</h2>
                        <span class="span-hot"></span>
                    </div>
                    <div class="carousel-wrapper">
                        <div class="customNavigation">
                            <a class="btn prev  glyphicon glyphicon-menu-left"></a>
                            <a class="btn next glyphicon glyphicon-menu-right"></a>
                        </div>
                        <div class="owl-carousel owl-theme" style="opacity: 1; display: block;">
                            <div class="owl-wrapper-outer">
                                <div class="owl-wrapper" style="width: 1710px; left: 0px; display: block;">
                                    <div class="owl-item" style="width: 285px;">
                                        <div class="item-wrapper">
                                            <a href="/tin-tuc/ban-da-san-sang-gia-nhap-doi-ngu-cua-chung-toi" class="item">
                                                <div class="item-image"><img class="img-responsive" src="http://sunlandsg.vn/data/upload/image/post/thumb/SUNLANDSG-TUYEN-DUNG_57c038e53b77a.jpg"></div>
                                                <h3 class="item-title">Bạn đã sẵn sàng gia nhập đội ngũ của chúng tôi???</h3>
                                                <div class="item-description">
                                                    Đối tác phân phối chiến lược của KHANG ĐIỀN
                                                    TỔNG ĐẠI LÝ PHÂN PHỐI DỰ ÁN LUCASTA tại QUẬN 9 Phát triển...
                                                </div>
                                                <div class="item-bottom">
                                                    <span class="glyphicon glyphicon-time"></span>17h - 16/12/2016												<span class="corner">xem chi tiết</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div><div class="owl-item" style="width: 285px;">
                                        <div class="item-wrapper">
                                            <a href="/tin-tuc/tuyen-tan-binh-chien-binh-cho-chien-truong-khu-dong" class="item">
                                                <div class="item-image"><img class="img-responsive" src="http://sunlandsg.vn/data/upload/image/post/thumb/TUYEN-DUNG-AVATAR_57ce5c3656879.jpg"></div>
                                                <h3 class="item-title">TUYỂN TÂN BINH/CHIẾN BINH CHO CHIẾN TRƯỜNG KHU ĐÔNG </h3>
                                                <div class="item-description">SunlandSG đem đến cơ hội cho những chiến binh Sales xuất chúng gia nhập đội ngũ chúng tôi, phân phối các dự án...</div>
                                                <div class="item-bottom">
                                                    <span class="glyphicon glyphicon-time"></span>16h - 25/11/2016												<span class="corner">xem chi tiết</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div><div class="owl-item" style="width: 285px;">
                                        <div class="item-wrapper">
                                            <a href="/tin-tuc/thong-bao-tuyen-dung-seo-website-linh-vuc-bat-dong-san" class="item">
                                                <div class="item-image"><img class="img-responsive" src="http://sunlandsg.vn/data/upload/image/post/thumb/Tuyen-dung-seoer-01_5770efbe45eb2.jpg"></div>
                                                <h3 class="item-title">THÔNG BÁO TUYỂN DỤNG SEO Website (LĨNH VỰC BẤT ĐỘNG SẢN)</h3>
                                                <div class="item-description">Do nhu cầu dự án SEO ngày càng nhiều, hiện tại chúng tôi đang cần tuyển 02 vị trí Nhân viên SEO website, làm...</div>
                                                <div class="item-bottom">
                                                    <span class="glyphicon glyphicon-time"></span>23h - 04/07/2016												<span class="corner">xem chi tiết</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="owl-controls clickable" style="display: none;"><div class="owl-pagination"><div class="owl-page active"><span class=""></span></div></div></div>
                        </div>
                    </div>
                </div>
                <div class="box-slide-wraper">
                    <div class="title-news">
                        <h2 class="title-hot">Sưu tầm</h2>
                        <span class="span-hot"></span>
                    </div>
                    <div class="carousel-wrapper">
                        <div class="customNavigation">
                            <a class="btn prev  glyphicon glyphicon-menu-left"></a>
                            <a class="btn next glyphicon glyphicon-menu-right"></a>
                        </div>
                        <div class="owl-carousel owl-theme" style="opacity: 1; display: block;">
                            <div class="owl-wrapper-outer">
                                <div class="owl-wrapper" style="width: 5700px; left: 0px; display: block;">
                                    <div class="owl-item" style="width: 285px;">
                                        <div class="item-wrapper">
                                            <a href="/tin-tuc/bo-suu-tap-anh-dong-vui-nhon-cua-sun" class="item">
                                                <div class="item-image"><img class="img-responsive" src="http://sunlandsg.vn/data/upload/image/post/thumb/Sún_597ab94cd6db5.jpg"></div>
                                                <h3 class="item-title">Bộ sưu tập ảnh động vui nhộn của "SÚN"</h3>
                                                <div class="item-description">Bộ sưu tập ảnh động thú vị chỉ có tại Sunlandsg.vn giúp các bạn sẽ có những status thật sống động</div>
                                                <div class="item-bottom">
                                                    <span class="glyphicon glyphicon-time"></span>11h - 28/07/2017												<span class="corner">xem chi tiết</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div><div class="owl-item" style="width: 285px;">
                                        <div class="item-wrapper">
                                            <a href="/tin-tuc/9-nghe-thuat-tao-dong-luc-cho-nhan-vien-nhu-soi-gia-pho-wall" class="item">
                                                <div class="item-image"><img class="img-responsive" src="http://sunlandsg.vn/data/upload/image/post/thumb/soi-gia-pho-wall_59363058adadf.jpg"></div>
                                                <h3 class="item-title">9 nghệ thuật tạo động lực cho nhân viên như Sói già Phố Wall!</h3>
                                                <div class="item-description">Lời mở đầu cho bộ phim: “Thế giới đầu tư có thể là một khu rừng, nơi đó có bò (bulls), gấu (bears) và...</div>
                                                <div class="item-bottom">
                                                    <span class="glyphicon glyphicon-time"></span>13h - 29/06/2017												<span class="corner">xem chi tiết</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div><div class="owl-item" style="width: 285px;">
                                        <div class="item-wrapper">
                                            <a href="/tin-tuc/tinh-yeu-cua-chung-toi-va-cau-chuyen-mua-nha-bang-20-trieu-dong-" class="item">
                                                <div class="item-image"><img class="img-responsive" src="http://sunlandsg.vn/data/upload/image/post/thumb/JAMILA-tien-ich_591433c7c6f25.jpg"></div>
                                                <h3 class="item-title">Tình yêu của chúng tôi và câu chuyện mua nhà bằng 20 triệu đồng </h3>
                                                <div class="item-description">Yêu nhau 2 năm cưới nhau về được 1 năm, anh và tôi đã tích lũy mua được căn hộ chung cư tiện nghi giá trị...</div>
                                                <div class="item-bottom">
                                                    <span class="glyphicon glyphicon-time"></span>16h - 11/05/2017												<span class="corner">xem chi tiết</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div><div class="owl-item" style="width: 285px;">
                                        <div class="item-wrapper">
                                            <a href="/tin-tuc/bat-dong-san-thoi-cong-nghe-chuyen-nghiep-moi-ban-duoc-hang" class="item">
                                                <div class="item-image"><img class="img-responsive" src="http://sunlandsg.vn/data/upload/image/post/thumb/bat-dong-san-thoi-cong-nghe-chuyen-nghiep-moi-ban-duoc-hang-1466500605_5768bc6ecb318.jpg"></div>
                                                <h3 class="item-title">Bất động sản thời công nghệ, chuyên nghiệp mới bán được hàng </h3>
                                                <div class="item-description">Việc rao bán bất động sản bằng tin nhắn và chào hàng qua điện thoại hiện nay đã trở nên phổ biến. Nhiều...</div>
                                                <div class="item-bottom">
                                                    <span class="glyphicon glyphicon-time"></span>11h - 21/06/2016												<span class="corner">xem chi tiết</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div><div class="owl-item" style="width: 285px;">
                                        <div class="item-wrapper">
                                            <a href="/tin-tuc/4-buoc-de-lap-mot-ke-hoach-kinh-doanh-hoan-hao" class="item">
                                                <div class="item-image"><img class="img-responsive" src="http://sunlandsg.vn/data/upload/image/post/thumb/ke-hoach-kinh-doanh_575a2ba364466.jpg"></div>
                                                <h3 class="item-title">4 BƯỚC ĐỂ LẬP MỘT KẾ HOẠCH KINH DOANH HOÀN HẢO</h3>
                                                <div class="item-description">Một kế hoạch kinh doanh thường có hai mục đích sau: Một là cung cấp lộ trình cho doanh nghiệp và hai là thu hút...</div>
                                                <div class="item-bottom">
                                                    <span class="glyphicon glyphicon-time"></span>14h - 15/06/2016												<span class="corner">xem chi tiết</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div><div class="owl-item" style="width: 285px;">
                                        <div class="item-wrapper">
                                            <a href="/tin-tuc/7-bai-hoc-toi-tu-rut-ra-tu-viec-mo-4-cong-ty-truoc-nam-21-tuoi" class="item">
                                                <div class="item-image"><img class="img-responsive" src="http://sunlandsg.vn/data/upload/image/post/thumb/bai-hoc-rut-ra_575a2fde22f04.jpg"></div>
                                                <h3 class="item-title">7 BÀI HỌC TÔI TỰ RÚT RA TỪ VIỆC MỞ 4 CÔNG TY TRƯỚC NĂM 21 TUỔI</h3>
                                                <div class="item-description">Mọi chuyện vào tháng 4 năm 2011 – một khoảng thời gian tươi đẹp cho tôi, một người trẻ Ấn Độ. Nền công...</div>
                                                <div class="item-bottom">
                                                    <span class="glyphicon glyphicon-time"></span>10h - 10/06/2016												<span class="corner">xem chi tiết</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div><div class="owl-item" style="width: 285px;">
                                        <div class="item-wrapper">
                                            <a href="/tin-tuc/donald-trump-lua-chon-dau-tu-bat-dong-san-nhu-the-nao" class="item">
                                                <div class="item-image"><img class="img-responsive" src="http://sunlandsg.vn/data/upload/image/post/thumb/donald-trump-1-1024_5747ceb99fe45.jpg"></div>
                                                <h3 class="item-title">Donald Trump lựa chọn đầu tư bất động sản như thế nào? </h3>
                                                <div class="item-description">Từ hai bàn tay trắng, Donald Trump trở thành tỷ phú hàng đầu thế giới và được mệnh danh là ông trùm của...</div>
                                                <div class="item-bottom">
                                                    <span class="glyphicon glyphicon-time"></span>16h - 30/05/2016												<span class="corner">xem chi tiết</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div><div class="owl-item" style="width: 285px;">
                                        <div class="item-wrapper">
                                            <a href="/tin-tuc/chung-ta-co-nhat-thiet-phai-lam-viec-8-tieng-mot-ngay" class="item">
                                                <div class="item-image"><img class="img-responsive" src="http://sunlandsg.vn/data/upload/image/post/thumb/8tieng_573e8f0dd610d.jpg"></div>
                                                <h3 class="item-title">CHÚNG TA CÓ NHẤT THIẾT PHẢI LÀM VIỆC 8 TIẾNG MỘT NGÀY?</h3>
                                                <div class="item-description">Tiêu đề bài viết thoạt nghe có vẻ buồn cười. Hầu hết cơ quan, trường học, doanh nghiệp đều hoạt động 8...</div>
                                                <div class="item-bottom">
                                                    <span class="glyphicon glyphicon-time"></span>11h - 20/05/2016												<span class="corner">xem chi tiết</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div><div class="owl-item" style="width: 285px;">
                                        <div class="item-wrapper">
                                            <a href="/tin-tuc/10-cau-hoi-thuong-gap-khi-su-dung-google-analytics" class="item">
                                                <div class="item-image"><img class="img-responsive" src="http://sunlandsg.vn/data/upload/image/post/thumb/GOOGLE-ANALYTICS_573a9df981173.jpg"></div>
                                                <h3 class="item-title">10 CÂU HỎI THƯỜNG GẶP KHI SỬ DỤNG GOOGLE ANALYTICS</h3>
                                                <div class="item-description">Có thể nói, Google Analytics giống như tai mắt của một website vậy. Công cụ miễn phí phổ biến này tự động...</div>
                                                <div class="item-bottom">
                                                    <span class="glyphicon glyphicon-time"></span>11h - 19/05/2016												<span class="corner">xem chi tiết</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div><div class="owl-item" style="width: 285px;">
                                        <div class="item-wrapper">
                                            <a href="/tin-tuc/bi-kip-email" class="item">
                                                <div class="item-image"><img class="img-responsive" src="http://sunlandsg.vn/data/upload/image/post/thumb/bi-kip-email_57368797d840d.jpg"></div>
                                                <h3 class="item-title">"BÍ KÍP EMAIL" </h3>
                                                <div class="item-description">“Cứ mỗi khi tôi đạt đến trạng thái làm việc năng suất, thì sau cùng, kiểu gì khối lượng email khổng lồ...</div>
                                                <div class="item-bottom">
                                                    <span class="glyphicon glyphicon-time"></span>11h - 19/05/2016												<span class="corner">xem chi tiết</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>









                            <div class="owl-controls clickable"><div class="owl-pagination"><div class="owl-page active"><span class=""></span></div><div class="owl-page"><span class=""></span></div><div class="owl-page"><span class=""></span></div><div class="owl-page"><span class=""></span></div></div></div>
                        </div>
                    </div>
                </div>
                <div class="box-slide-wraper">
                    <div class="title-news">
                        <h2 class="title-hot">Nhà Cửa - Đời Sống</h2>
                        <span class="span-hot"></span>
                    </div>
                    <div class="carousel-wrapper">
                        <div class="customNavigation">
                            <a class="btn prev  glyphicon glyphicon-menu-left"></a>
                            <a class="btn next glyphicon glyphicon-menu-right"></a>
                        </div>
                        <div class="owl-carousel owl-theme" style="opacity: 1; display: block;">
                            <div class="owl-wrapper-outer">
                                <div class="owl-wrapper" style="width: 5700px; left: 0px; display: block;">
                                    <div class="owl-item" style="width: 285px;">
                                        <div class="item-wrapper">
                                            <a href="/tin-tuc/biet-thu-lucasta-khang-dien-de-nha-la-noi-ta-luon-muon-tro-ve" class="item">
                                                <div class="item-image"><img class="img-responsive" src="http://sunlandsg.vn/data/upload/image/post/thumb/AVATAR-LUCASTA_580739b7dc5b4.jpg"></div>
                                                <h3 class="item-title">Biệt thự Lucasta Khang Điền – Để nhà là nơi ta luôn muốn trở về</h3>
                                                <div class="item-description">Bạn đang sống ở đâu giữa Sài Gòn để không bị ngập nước? Không kẹt xe hàng giờ mỗi khi lưu thông vào...</div>
                                                <div class="item-bottom">
                                                    <span class="glyphicon glyphicon-time"></span>17h - 16/12/2016												<span class="corner">xem chi tiết</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div><div class="owl-item" style="width: 285px;">
                                        <div class="item-wrapper">
                                            <a href="/tin-tuc/xu-huong-chon-nha-cua-nguoi-thanh-dat" class="item">
                                                <div class="item-image"><img class="img-responsive" src="http://sunlandsg.vn/data/upload/image/post/thumb/720X-480-NEW-_58217c92d2f69.jpg"></div>
                                                <h3 class="item-title">Xu hướng chọn nhà của người thành đạt</h3>
                                                <div class="item-description">Trong những năm về trước, người thành đạt thường hay chọn các ngôi nhà kiên cố, những căn biệt thự lớn....</div>
                                                <div class="item-bottom">
                                                    <span class="glyphicon glyphicon-time"></span>15h - 16/11/2016												<span class="corner">xem chi tiết</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div><div class="owl-item" style="width: 285px;">
                                        <div class="item-wrapper">
                                            <a href="/tin-tuc/ban-muon-thanh-cong-hay-tap-ngay-cho-minh-5-thoi-quen-cua-nguoi-thanh-dat" class="item">
                                                <div class="item-image"><img class="img-responsive" src="http://sunlandsg.vn/data/upload/image/post/thumb/tintuc7-7_577dc73b69c9e.jpg"></div>
                                                <h3 class="item-title">Bạn muốn thành công? Hãy tập ngay cho mình 5 thói quen của người thành đạt</h3>
                                                <div class="item-description">Có những thói quen tốt làm nên những nếp nghĩ và lối sống tích cực. Mỗi người đều có quỹ thời gian trong...</div>
                                                <div class="item-bottom">
                                                    <span class="glyphicon glyphicon-time"></span>10h - 07/07/2016												<span class="corner">xem chi tiết</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div><div class="owl-item" style="width: 285px;">
                                        <div class="item-wrapper">
                                            <a href="/tin-tuc/cac-kieu-bo-tri-can-ho-co-2-phong-ngu" class="item">
                                                <div class="item-image"><img class="img-responsive" src="http://sunlandsg.vn/data/upload/image/post/thumb/NOI-THAT_5759287b7498d.gif"></div>
                                                <h3 class="item-title">Các kiểu bố trí căn hộ có 2 phòng ngủ</h3>
                                                <div class="item-description">Nhà chung cư diện tích 54-80 m2 có 2 phòng ngủ được các gia đình trẻ ưa chuộng. Dưới đây là một vài cách...</div>
                                                <div class="item-bottom">
                                                    <span class="glyphicon glyphicon-time"></span>15h - 09/06/2016												<span class="corner">xem chi tiết</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div><div class="owl-item" style="width: 285px;">
                                        <div class="item-wrapper">
                                            <a href="/tin-tuc/lam-tu-thien-vi-ai-vi-cai-gi-dong-co-up-video-nay-de-lam-gi-lam-gi" class="item">
                                                <div class="item-image"><img class="img-responsive" src="http://sunlandsg.vn/data/upload/image/post/thumb/TS_5757840662ef8.jpg"></div>
                                                <h3 class="item-title">Làm từ thiện vì ai? Vì cái gì? động cơ up video này để làm gì làm gì?</h3>
                                                <div class="item-description">60 phút mở ‘Làm từ thiện là vì ai’ của VTV lại khiến cộng đồng mạng phát điên</div>
                                                <div class="item-bottom">
                                                    <span class="glyphicon glyphicon-time"></span>09h - 08/06/2016												<span class="corner">xem chi tiết</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div><div class="owl-item" style="width: 285px;">
                                        <div class="item-wrapper">
                                            <a href="/tin-tuc/mot-so-thu-thuat-gmail-ma-ban-nen-biet" class="item">
                                                <div class="item-image"><img class="img-responsive" src="http://sunlandsg.vn/data/upload/image/post/thumb/gmail_573e7d1146ff5.jpg"></div>
                                                <h3 class="item-title">MỘT SỐ THỦ THUẬT GMAIL MÀ BẠN NÊN BIẾT</h3>
                                                <div class="item-description">Gmail là một công cụ vô cùng mạnh mẽ. Nó có nhiều tính năng vượt trội hẳn hơn các hệ thống email khác. Kho...</div>
                                                <div class="item-bottom">
                                                    <span class="glyphicon glyphicon-time"></span>14h - 07/06/2016												<span class="corner">xem chi tiết</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div><div class="owl-item" style="width: 285px;">
                                        <div class="item-wrapper">
                                            <a href="/tin-tuc/nguoi-song-doc-than-mua-nha-the-nao-loi-nhat" class="item">
                                                <div class="item-image"><img class="img-responsive" src="http://sunlandsg.vn/data/upload/image/post/thumb/q1-1464325511271_5754da76040ad.jpg"></div>
                                                <h3 class="item-title">Người sống độc thân mua nhà thế nào lợi nhất</h3>
                                                <div class="item-description">Hầu như ai trong số chúng ta cũng muốn được sở hữu một căn nhà thật đẹp và thật lớn. Tuy nhiên, với...</div>
                                                <div class="item-bottom">
                                                    <span class="glyphicon glyphicon-time"></span>09h - 06/06/2016												<span class="corner">xem chi tiết</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div><div class="owl-item" style="width: 285px;">
                                        <div class="item-wrapper">
                                            <a href="/tin-tuc/tphcm-cam-nhieu-duong-pho-khi-don-tong-thong-my-obama" class="item">
                                                <div class="item-image"><img class="img-responsive" src="http://sunlandsg.vn/data/upload/image/post/thumb/obama_5743c2100f919.jpg"></div>
                                                <h3 class="item-title">TPHCM cấm nhiều đường phố khi đón Tổng thống Mỹ Obama</h3>
                                                <div class="item-description">Trục đường từ sân bay, qua Nguyễn Văn Trỗi và Nam Kỳ Khởi Nghĩa, cấm xe cộ hoàn toàn trong hai khung thời gian;...</div>
                                                <div class="item-bottom">
                                                    <span class="glyphicon glyphicon-time"></span>09h - 24/05/2016												<span class="corner">xem chi tiết</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div><div class="owl-item" style="width: 285px;">
                                        <div class="item-wrapper">
                                            <a href="/tin-tuc/giai-phap-mo-rong-dien-tich-nha-o-ma-khong-can-tu-sua" class="item">
                                                <div class="item-image"><img class="img-responsive" src="http://sunlandsg.vn/data/upload/image/post/thumb/3_573be3deeeadf.gif"></div>
                                                <h3 class="item-title">Giải pháp ‘mở rộng’ diện tích nhà ở mà không cần tu sửa</h3>
                                                <div class="item-description">Những thiết kế nhà ống, nhà phố hay căn hộ chung cư thường không có ưu thế về diện tích. Với những bí...</div>
                                                <div class="item-bottom">
                                                    <span class="glyphicon glyphicon-time"></span>11h - 20/05/2016												<span class="corner">xem chi tiết</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div><div class="owl-item" style="width: 285px;">
                                        <div class="item-wrapper">
                                            <a href="/tin-tuc/5-buoc-giup-ban-cai-thien-ki-nang-networking-mot-cach-nghiem-tuc" class="item">
                                                <div class="item-image"><img class="img-responsive" src="http://sunlandsg.vn/data/upload/image/post/thumb/Network_57369ecef24f9.jpg"></div>
                                                <h3 class="item-title">5 BƯỚC GIÚP BẠN CẢI THIỆN KĨ NĂNG NETWORKING MỘT CÁCH NGHIÊM TÚC</h3>
                                                <div class="item-description">Networking luôn là kỹ năng cần có để nhanh chóng thành công. Networking không chỉ giúp bạn học hỏi từ người...</div>
                                                <div class="item-bottom">
                                                    <span class="glyphicon glyphicon-time"></span>11h - 17/05/2016												<span class="corner">xem chi tiết</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>









                            <div class="owl-controls clickable"><div class="owl-pagination"><div class="owl-page active"><span class=""></span></div><div class="owl-page"><span class=""></span></div><div class="owl-page"><span class=""></span></div><div class="owl-page"><span class=""></span></div></div></div>
                        </div>
                    </div>
                </div>
                <div class="box-slide-wraper">
                    <div class="title-news">
                        <h2 class="title-hot">Bản tin SunlandSG</h2>
                        <span class="span-hot"></span>
                    </div>
                    <div class="carousel-wrapper">
                        <div class="customNavigation">
                            <a class="btn prev  glyphicon glyphicon-menu-left"></a>
                            <a class="btn next glyphicon glyphicon-menu-right"></a>
                        </div>
                        <div class="owl-carousel owl-theme" style="opacity: 1; display: block;">
                            <div class="owl-wrapper-outer">
                                <div class="owl-wrapper" style="width: 3420px; left: 0px; display: block;">
                                    <div class="owl-item" style="width: 285px;">
                                        <div class="item-wrapper">
                                            <a href="/tin-tuc/sunland-sai-gon-khai-truong-van-phong-dai-dien-quan-9" class="item">
                                                <div class="item-image"><img class="img-responsive" src="http://sunlandsg.vn/data/upload/image/post/thumb/le-khai-truong-van-hong-sunland-sai-gon-(5)_595c4b95987fd.jpg"></div>
                                                <h3 class="item-title">Sunland Sài Gòn khai trương văn phòng đại diện quận 9</h3>
                                                <div class="item-description">Ngày 03/07/2017 vừa qua, Sàn Giao dịch BĐS Sunland Sài Gòn chính thức khai trương văn phòng đại diện mới tại...</div>
                                                <div class="item-bottom">
                                                    <span class="glyphicon glyphicon-time"></span>11h - 05/07/2017												<span class="corner">xem chi tiết</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div><div class="owl-item" style="width: 285px;">
                                        <div class="item-wrapper">
                                            <a href="/tin-tuc/sunland-sai-gon-dai-ly-phan-phoi-chinh-thuc-can-ho-jamila-khang-dien" class="item">
                                                <div class="item-image"><img class="img-responsive" src="http://sunlandsg.vn/data/upload/image/post/thumb/can-ho-jamila-quan-9-(2)_58f486c91a877.jpg"></div>
                                                <h3 class="item-title">Sunland Sài Gòn – Đại lý phân phối chính thức căn hộ Jamila Khang Điền</h3>
                                                <div class="item-description">Sunland Sài Gòn (SunlandSG) tự hào là đại lý phân phối chính thức cho dự án Jamila Khang Điền. Theo đó, SunlandSG...</div>
                                                <div class="item-bottom">
                                                    <span class="glyphicon glyphicon-time"></span>10h - 25/04/2017												<span class="corner">xem chi tiết</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div><div class="owl-item" style="width: 285px;">
                                        <div class="item-wrapper">
                                            <a href="/tin-tuc/le-trao-giai-danh-hieu-best-saler-lucasta" class="item">
                                                <div class="item-image"><img class="img-responsive" src="http://sunlandsg.vn/data/upload/image/post/thumb/IMG_0196_5864d59eba8e8.jpg"></div>
                                                <h3 class="item-title">Lễ trao giải danh hiệu BEST SALER LUCASTA</h3>
                                                <div class="item-description">áng ngày 24 tháng 12 năm 2016, tại biệt thự Lucasta đã long trọng diễn ra buổi tôn vinh dành cho những nhân viên...</div>
                                                <div class="item-bottom">
                                                    <span class="glyphicon glyphicon-time"></span>16h - 29/12/2016												<span class="corner">xem chi tiết</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div><div class="owl-item" style="width: 285px;">
                                        <div class="item-wrapper">
                                            <a href="/tin-tuc/sunland-sai-gon-chuc-giang-sinh-an-lanh-den-khach-hang" class="item">
                                                <div class="item-image"><img class="img-responsive" src="http://sunlandsg.vn/data/upload/image/post/thumb/avatar_585a578ba5f2a.jpg"></div>
                                                <h3 class="item-title">Sunland Sài Gòn chúc giáng sinh an lành đến khách hàng </h3>
                                                <div class="item-description">Nhân dịp Giáng sinh và chào đón Năm mới 2017, SunlandSG xin được gửi tới Quý vị lời chúc Giáng sinh an lành và...</div>
                                                <div class="item-bottom">
                                                    <span class="glyphicon glyphicon-time"></span>17h - 21/12/2016												<span class="corner">xem chi tiết</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div><div class="owl-item" style="width: 285px;">
                                        <div class="item-wrapper">
                                            <a href="/tin-tuc/vi-mot-nua-the-gioi-la-phu-nu" class="item">
                                                <div class="item-image"><img class="img-responsive" src="http://sunlandsg.vn/data/upload/image/post/thumb/720x480_5807ad04e351e.jpg"></div>
                                                <h3 class="item-title">Vì một nửa thế giới là phụ nữ</h3>
                                                <div class="item-description">Nhân ngày Phụ nữ Viêt Nam 20/10 SUNLANDSG gửi lời chúc đến các mẹ, các chị, các em. Một lời chúc nhiều sức...</div>
                                                <div class="item-bottom">
                                                    <span class="glyphicon glyphicon-time"></span>00h - 20/10/2016												<span class="corner">xem chi tiết</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div><div class="owl-item" style="width: 285px;">
                                        <div class="item-wrapper">
                                            <a href="/tin-tuc/be-a-star-lucasta" class="item">
                                                <div class="item-image"><img class="img-responsive" src="http://sunlandsg.vn/data/upload/image/post/thumb/BE-A-STAR_57a030bf424fb.jpg"></div>
                                                <h3 class="item-title">BE A STAR - LUCASTA</h3>
                                                <div class="item-description">Cuộc thi BE A STAR với LUCASTA  lần 1 dành cho tập thể nhân viên sẽ được chính thức khởi động. Giải thưởng...</div>
                                                <div class="item-bottom">
                                                    <span class="glyphicon glyphicon-time"></span>12h - 02/08/2016												<span class="corner">xem chi tiết</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>





                            <div class="owl-controls clickable"><div class="owl-pagination"><div class="owl-page active"><span class=""></span></div><div class="owl-page"><span class=""></span></div></div></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box-search box-search-fixtop">
                    <div class="box-title">
                        Tìm kiếm tin tức
                    </div>
                    <div class="box-content">
                        <form role="form" action="/tim-kiem-tin-tuc" method="get">
                            <input type="text" name="s" id="s" placeholder="Nhập tin cần tìm" class="form-control">
                            <button type="submit" class="btn btn-block">Tìm kiếm</button>
                        </form>
                    </div>
                </div>
                <div class="box-sidebar box-category">
                    <div class="box-title">
                        danh mục tin tức
                    </div>
                    <div class="box-content">
                        <ul>
                            <li><a href="/tin-tuc/danh-muc-tin-tuc?category_id=1">Tin phong thủy</a></li>
                            <li><a href="/tin-tuc/danh-muc-tin-tuc?category_id=4">Tin Thị Trường</a></li>
                            <li><a href="/tin-tuc/danh-muc-tin-tuc?category_id=5">Tin Dự Án</a></li>
                            <li><a href="/tin-tuc/danh-muc-tin-tuc?category_id=6">Tuyển Dụng</a></li>
                            <li><a href="/tin-tuc/danh-muc-tin-tuc?category_id=7">Sưu tầm</a></li>
                            <li><a href="/tin-tuc/danh-muc-tin-tuc?category_id=8">Nhà Cửa - Đời Sống</a></li>
                            <li><a href="/tin-tuc/danh-muc-tin-tuc?category_id=9">Bản tin SunlandSG</a></li>
                        </ul>
                    </div>
                </div>
                <div class="event-box">
                    <div class="ads-r">
                        <h4>Đăng ký<br> nhận tin bất động sản</h4>

                        <div class="box-input">
                            <form id="realRegForm" action="/frontend/ajax/save-contact" method="post">
                                <input type="hidden" name="_csrf" value="VU5qZ3BJVE8NfSsICgoEIDMAL1A/AmEWHwMYPzMIEBcSHhgvQQAONQ=="><div class="form-group field-frontcontact-name required">
                                    <input type="text" id="frontcontact-name" class="form-control" name="FrontContact[name]" placeholder="Họ và tên"><span class="help-block"><div class="help-block"></div></span>
                                </div><div class="form-group field-frontcontact-phone required">
                                    <input type="text" id="frontcontact-phone" class="form-control" name="FrontContact[phone]" placeholder="Số điện thoại"><span class="help-block"><div class="help-block"></div></span>
                                </div><div class="form-group field-frontcontact-email required">
                                    <input type="text" id="frontcontact-email" class="form-control" name="FrontContact[email]" placeholder="Email"><span class="help-block"><div class="help-block"></div></span>
                                </div><div class="form-group field-frontcontact-type">

                                    <input type="hidden" id="frontcontact-type" class="form-control" name="FrontContact[type]" value="5">

                                    <div class="help-block"></div>
                                </div><div class="form-group field-frontcontact-object_id">

                                    <input type="hidden" id="frontcontact-object_id" class="form-control" name="FrontContact[object_id]">

                                    <div class="help-block"></div>
                                </div><div class="form-group field-frontcontact-item_name">

                                    <input type="hidden" id="frontcontact-item_name" class="form-control" name="FrontContact[item_name]">

                                    <div class="help-block"></div>
                                </div>    	<div class="form-group">
                                    <button type="submit" class="">Đăng ký</button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="ads-banner">
                        <div class="item">
                            <a href="http://sunlandsg.vn/du-an/lucasta/mat-bang" target="_blank">
                                <img class="img-responsive" src="http://sunlandsg.vn/data/upload/image/banner/hanh-phuc-gia-bao-nhieu_57e4c604d5bd9.gif" alt="LUCASTA - HẠNH PHÚC GIÁ BAO NHIÊU?">
                            </a>
                        </div>
                        <div class="item">
                            <a href="http://sunlandsg.vn/du-an/can-ho-jamila/gioi-thieu" target="_blank">
                                <img class="img-responsive" src="http://sunlandsg.vn/data/upload/image/banner/Jamila_Right_Banner1_58f86e0ca90ad.gif" alt="MỞ BÁN CĂN HỘ JAMILA KHANG ĐIỀN QUẬN 9 - MẶT TIỀN SONG HÀNH - CHỈ TỪ 22.5TR/M2">
                            </a>
                        </div>
                        <div class="item">
                            <a href="http://sunlandsg.vn/du-an/can-ho-jamila/gioi-thieu" target="_blank">
                                <img class="img-responsive" src="http://sunlandsg.vn/data/upload/image/banner/Jamila_Right_Banner4_58f86f0ad7ace.gif" alt="Căn hộ mặt tiền Song hành Quận 9 - mở bán chính thức 14,5tr/m2 - SunlandSG Phân phối chính thức">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
